[2018-08-09 05:15] idigra commented on #652
BTW if you are worried about

Copied from my answer in https://github.com/moq/moq4/pull/655/review_comment/create#discussion_r208807270: IMO Checking the standard .NET Invoke method is a more stable way to eliminate such manipulations than implementing a heuristics and extend it on each case we encounter (as was really proved in the Closure bug).

Neither do I. But Moq's been like that for longer

[2018-08-10 11:26] stakx commented on #652
That would invalidate the whole idea behind your PR, and be rather pointless, too:

If I understand your PR correctly, then its intent is to avoid false negatives triggered by the existing logic (which you suspect to be too strict in cases like the one reported at the beginning of this issue, as well as possibly other cases that we haven't discovered yet).

So if you replace your proposed check af

[2018-08-10 12:16] idigra commented on #652
OK. I see your point. I hope that all cases are really covered.
Just re-

By saying "after the current logic" I didn't mean to cut-and-paste the code lines to the end of the method, but to do the new logic after we discovered that we are in one of the two problematic cases. Conceptually, think about that like I move the new code lines to before the two throw statements (not talking now about avoid

[2018-08-10 12:53] stakx commented on #652
I *sort of* get your drift, but I'm afraid I still don't get it precisely. The CLR "guaranteeing" anything doesn't have anything to do with what happens inside `HasCompatibleParameterList`.  True, it appears to make good sense to compare each parameter pair for assignment compatibility, and it is perhaps closer in spirit to the way ECMA-335 would specify signature matching. But `HasCompatibleParam

[2018-08-14 19:46] DaveWut opened #656 "Unable to mock expression containing an anonymous type"
Hi,

We have the following method signature:

[code]

We are unable to mock if TResult is an anonymous type, even if I explicitly set it as an object (as suggestion on some Stackoverflow thread). It seems to be a limitation of the API.

Is it possible to help me with this?

Thank you,
Dave

[2018-08-14 20:49] stakx commented on #656
Hi @DaveWut. Assuming that it were possible to mock anonymous types, I am not sure I understand why and how would that be useful? At the language level (i.e. excluding any reflection acrobatics), objects of an anonymous type are next to useless outside the method in which they were created, so such a mock would likely be limited by a method boundary as well.

As to why Moq 4 doesn't (and cannot) s

[2018-08-15 09:49] oddbear opened #657 "Moq does not mock 'Explicit Interface Implementation' and 'protected virtual' correctly"
If we use [Explicit Interface Implementation](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/interfaces/explicit-interface-implementation), with same name as a protected virtual method, Moq will mock the wrong method.
Protected methods should not be possible to mock, due to their protection level.

We found this issue in one of our Custom HttpHandlers that inherits from HttpClien

[2018-08-15 12:03] oddbear commented on #656
Moq 4.9 it seems to work with setting object.

However, if you test through some layer, you don't know the "generic type". Then you would need to register this through some sort of *helper method* to extract the signature.

The Anonymous type signature is not known until the application is compiled, therefor the only way to do this is through a helper method, or inject some code with a custom plug

[2018-08-15 14:04] stakx commented on #657
Hi @oddbear, thanks for reporting this. It's not the first time I've seen an issue about Moq picking the wrong method when `.As<TInterface>()` comes into play. Quite frankly, this is an area where Moq has grown rather... "organically". In other words, Moq's logic for identifying which method to mock is less than ideal. I'm not sure we can do anything about this without running the risk of breaking

[2018-08-15 14:38] oddbear commented on #657
Great thanks.
And totally forgot about '.Protected()'.

[2018-08-15 20:31] stakx commented on #657
@oddbear, this is a fixable bug in `MethodCall.IsEqualMethodOrOverride`.

https://github.com/moq/moq4/blob/b8b61a4943f4ad297520f3bc93f38b7c3821055a/src/Moq/MethodCall.cs#L388-L416

(In the above code, `method` refers to the method having been set up, while `invocationMethod` refers to the method being invoked. For your first example, `method` := `IContractOveride.DoWork` and `invocationMethod` :=

[2018-08-16 01:31] DaveWut commented on #656
Hi @oddbear . I tried your helper function, but without success. I've configured Moq with strict behaviour instead of loose and each time it goes through the place, an exception is thrown telling me the mock hasn't been configured for that kind of call.

Hi @stakx it seems like my only resort is to create a POCO with the returned object, then I'm able to test it. I understand at first you can have

[2018-08-16 04:53] stakx commented on #656
@oddbear: I am afraid I cannot piece together what you're attempting to do from your description, an actual minimal & complete code example would be helpful. Please include the error message you're getting.

[2018-08-16 04:57] stakx commented on #656
Perhaps a duplicate of #552?

[2018-08-16 08:06] DMDTT commented on #367
I think the request is quite clear

Mock.Setup(x => x.GetValue(Group.Identifier, y => y.Property)).Returns("value");

with the It.Any<typeOf(etc.)>-Approach (https://stackoverflow.com/questions/11502239/system-notsupportedexception-unsupported-expression-p-p-userprofileid-1) you cannot specify a single property to return a specific value, you can only the base type (e.g. string), so every string f

[2018-08-16 08:39] oddbear commented on #656
@DaveWut in my example, it only fails for the one commented with "//Not a registered signature." when using strict (as this signature is not registered). Without a more complete code example, I can't see whats the problem.

@stakx minified example of just the helper method workaround:
[code]
We don't need to specify the anonymous type (that is unknown) to the method, as the compiler is smart enoug

[2018-08-19 07:07] stakx commented on #656
@DaveWut, apologies, I meant to address you in my above post, not @oddbear.

It is really hard to help if you don't show a minimal, runnable code example of what you're attempting to do. You're saying you're attempting to mock something, but it's not clear *what* you're mocking, you're just calling it "it". I'd just have to guess.

Please post a short, runnable repro code, then I can look into thi

[2018-08-19 13:31] stakx commented on #657
The PR I've submitted contains the "naïve" bug fix mentioned above. While it's functional, it's also inefficent. A more efficient bug fix will become possible once we've dealt with #643, as that will enable us to map interface methods to class methods at setup time (vs. only being able to do this accurately at invocation time, as it is today), meaning that this mapping can happen only a single tim

[2018-08-19 15:58] stakx commented on #615
@Nikkelmann - I've finally found some time to look into the missing `.CallBase()` setup method for void methods. And I've stumbled onto a possible roadblock. Citing from the commit message of https://github.com/moq/moq4/commit/939f70f4034cda4cadda7064ca514905852030f2:

I'm undecided which way to go. (1) bears the risk of the Moq team receiving lots of "bug" reports; (2) is the right solution from

[2018-08-21 15:42] LizzyBradley opened #660 "Verify does not distinguish between a type and its implemented type in generic methods"
Normally, Verify usually can distinguish between types for generic method. However, when a type implements another, Verify logs that both types have been used. In the below example (using Moq 4.9), the line with Verify fails because it thinks that the method has been called with the type argument Default.

[code]

[2018-08-21 21:38] stakx commented on #660
Hi @LizzyBradley and thank you for reporting this. On the surface, this looks like a bug. But I'm not sure that it actually *is* one.

We currently have two issues that are about the same general topic of how Moq should match method signatures against expectations. Interestingly, the two issues ask for opposing solutions:

* This present issue asks for generic type arguments to be compared for equ

[2018-08-22 08:45] oddbear commented on #656
@DaveWut , I tested with the helper, and I think the code is set up the same way as yours _(see attachment)_, the only thing I needed to change to get it working, is the missing Return setup in the Helper method. If this is not set, it will return null and: "This is not working.", instead of: "This is working.".

Maybe using Helper Methods like this should be put in the Wiki? At least I find those

[2018-08-22 08:58] oddbear commented on #656
@stakx this is true only for the `RunRepoTestStrictWithoutHelper` test.
The `RunRepoTestStrictWithHelper` is setup with `TAnonymous` _(as the compiler is smart enough to figure this out by itself)_ by using the `MockRepository` extension method.

However, the setup is missing setup of the `Return(TAnonymous)`. After I changed this, it worked as expected.

What do you think about putting something

[2018-08-22 12:30] stakx commented on #656
@oddbear:

Sure, feel free to add something e.g. in the Wiki. I'd probably place this, not in the Quickstart, but as a separate FAQ of some sort. If you, or anyone else, could write up an article about anonymous types that's reasonably general and with a very simple example, that'd be great!

Regarding the other test, it's true I sort of overlooked it. I'm currently away from my dev machine but wi

[2018-08-22 14:05] oddbear commented on #656
@stakx Since the examples worked, I would think this is not a issue at all.
Don't see how it can be improved either in a good way, as the limitations is mostly in C# and not in Moq.

Since there is a workaround (that I have used in many tests already), I would think is better to document that one, than trying to create a solution.

@DaveWut, what do you think?

[2018-08-22 14:09] oddbear commented on #657
That's great. Ty.

[2018-08-23 09:55] stakx commented on #606
P.S.: In restrospect, I am not sure why I wrote some of the things I wrote above. Yes, Moq *does* read the value of `out` parameters when a method is setup. But as far as I am aware today, it doesn't set up an *expectation*&mdash;it simply sets up the method to return that same value via the `out` parameter for future calls.

[2018-08-26 14:49] oddbear commented on #656
@stakx added some examples under the FAQ section: https://github.com/moq/moq4/wiki/FAQ

[2018-08-26 17:31] stakx commented on #656
@oddbear: Very nice! Thanks for putting up this FAQ!

[2018-08-27 12:19] stakx commented on #615
@Nikkelmann - please ignore the above comment. Turns out that the tests were written incorrectly, mock-level `CallBase` *does* work for void methods, and so there won't be any inconsistent behavior when implementing setup-level `CallBase`.

[2018-08-27 13:14] #615 closed

[2018-08-27 13:32] stakx commented on #660
@LizzyBradley - given the above feedback, how do you think we should proceed with this issue?

[2018-08-28 11:06] stakx opened #665 "Fluent API allows setting the return value and throwing an exception at the same time"
This is currently (as of version 4.9.0) possible:

[code]

This obviously doesn't make any sense at all: A regular method cannot return a value *and* throw an exception at the same time, so this shouldn't be possible in Moq either.

[2018-08-28 11:13] stakx opened #666 "Fluent API allows setting the return value twice"
This is currently (as of the current tip of `master`, a964fa7773e1afad5887a4bed52f8e57e7724f6d) possible:

[code]

While apparently, the right thing happens, this shouldn't be possible: A method cannot return twice.

[2018-08-28 11:20] stakx opened #667 "Fluent API allows setting up a second callback that won't get involved if `.Throws()` is specified too"
This is currently (as of version 4.9.0) possible:

[code]

This fails because the second callback never gets invoked.

(This test doesn't make sense because it returns and throws simultaneously; see #665 concerning that. If the pattern of returning-then-throwing is forbidden, then we won't have to fix anything here.)

[2018-08-28 12:24] stakx opened #668 "`.Callback(…)` after `.Returns(…)` / `.CallBase()` causes a variety of issues"
Moq has allowed a `.Callback(…)` to occur after `.Returns(…)` or `.CallBase()` for a while now. This was originally discussed in [this discussion on Google Groups](https://groups.google.com/forum/#!topic/moqdisc/cVGt2YR0sEA) and then formally requested in [Google Code issue 19](https://code.google.com/archive/p/moq/issues/19).

Unfortunately, the way after-return callbacks are currently implemente

[2018-08-28 12:31] stakx commented on #668
@kzu: I would recommend that we deprecate after-returns callbacks, i.e. the following setup pattern:

[code]

This pattern doesn't make sense due to the reason I gave in [the previous post](https://github.com/moq/moq4/issues/668#issue-354707143). TL;DR: In a regular method, anything after `return` is unreachable, and Moq's fluent API should reflect that.

What's your opinion on this? Would this be

[2018-08-28 12:32] stakx commented on #665
This will be tracked in #668 along with some other closely related issues.

[2018-08-28 12:32] stakx commented on #666
This will be tracked in #668 along with some other closely related issues.

[2018-08-28 12:32] #666 closed

[2018-08-28 12:32] stakx commented on #667
This will be tracked in #668 along with some other closely related issues.

[2018-08-28 12:32] #667 closed

[2018-08-28 12:34] stakx commented on #668
@kzu: I would recommend that we deprecate after-returns callbacks, i.e. the following setup pattern:

[code]

This pattern doesn't make sense due to the reason I gave in [the previous post](https://github.com/moq/moq4/issues/668#issue-354707143). TL;DR: In a regular method, anything after `return` is unreachable, and Moq's fluent API should reflect that.

What's your opinion on this? Would this be

[2018-08-28 12:36] #665 closed

[2018-08-28 21:19] stakx commented on #656
@DaveWut, @oddbear - If you think there's anything left to do here, please speak up. Otherwise I'll close this issue in about 3-4 days' time.

[2018-08-29 17:41] DaveWut commented on #656
I indeed made an error in the example code I've given. Thanks for pointing it out @oddbear . Documation is cool, but still sounds more like a hack than a way Moq should work. I saw #343 and liked the idea of an It.IsAnyType. Maybe this is something that could be implemented in the library eventually?

[2018-08-29 18:02] stakx commented on #343
Reopening this in the hope that we can include this feature in [version 4.11.0](https://github.com/moq/moq4/milestone/8).

[2018-08-29 18:03] stakx commented on #656
@DaveWut - Agreed. Let me close this present issue then, and reopen #343 instead. I'll try to find out how much work would be needed to bring it up-to-date and include it in a future release.

[2018-08-29 18:03] #656 closed

[2018-08-30 07:42] #660 closed

[2018-08-30 13:01] darraghjones commented on #317
This is likely down to our AWS machines being under resourced. We're upgrading these to m4.large in the next prod release. I've also added max-queue-lenght of 100 to these queues.

There's another issue around how we process parameter updates for bookmakers not in control.

[2018-08-30 13:07] stakx commented on #317
@darraghjones: Was that post supposed to go to a different repo/issue?

[2018-08-30 13:19] darraghjones commented on #317
Sorry, my bad!

[2018-08-30 13:28] oddbear commented on #343
Nice.
This should work in general, but I don't see that it can work in case of ['Constraints on type parameters'](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/generics/constraints-on-type-parameters).
I can think of a couple of workarounds, but those would be more like hacks.

Any ideas?

[2018-08-30 13:42] stakx commented on #343
@oddbear - I'm not sure I understand. Could you please elaborate a little? What about generic type parameter constraints? (Yes, an `It.IsAnyType` wouldn't take those into account. What is stopping us from something like `It.IsAnySubtypeOf<T, U, V, ...>`?)

[2018-08-30 14:59] oddbear commented on #343
It's kind of an edge case, but I thinking about something like mocking this method:
[code]

Then IsAnySubtype must be implementing that interface, and since it is not allowed to do:
[code]
Then I can't see any way Moq could provide any type that would compile.

One workaround would be if the user them self make a custom type, and then add some attribute or similar to tell Moq, that this type is a

[2018-08-30 15:15] stakx commented on #343
Like you said yourself, that may be an edge case. No need to build something complicated if noone's going to need it. I'd say let's start with `It.IsAnyType` (which is going to be an improvement over nothing) and only worry about the super-involved edge cases when someone actually runs into them.

[2018-08-30 15:49] oddbear commented on #343
Agreed

[2018-08-30 16:52] michal-ciechan commented on #343
I was originally planning also provide an IAnyType interface which would allow you to attach it to any custom type that implements the genetic constraint

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Oddbjørn Bakke <notifications@github.com>
Sent: Thursday, August 30, 2018 3:59:11 PM
To: moq/moq4
Cc: michal-ciechan; Author
Subject: Re: [moq/moq4] Open Gene

[2018-08-31 19:33] retslig opened #669 "License update to project"
I was hoping the project owner would consider updating the project license to use spdx identifier for the "BSD license" license. Your license in the github api only shows as "Other".
See https://api.github.com/repos/moq/moq4/license for your current license.
Also note your current license committed in the repo is already "[This is the BSD license, see
 http://opensource.org/licenses/BSD-3-Clause]"

[2018-08-31 21:16] retslig commented on #669
This is done by updating you License.txt file to match Githubs known list licenses.
See here for exact details of how the license API works.  https://developer.github.com/v3/licenses/
Brief snippet:

If a license is matched, the license key and name returned conforms to the SPDX specification.

Another article that explains this well. https://blog.github.com/2016-09-21-license-now-displayed-on-rep

[2018-08-31 21:43] stakx commented on #669
What actual change to the license file do you suggest?

[2018-08-31 21:52] BillArmstrong opened #670 "TypeLoadException while mocking mixed code interface that contains a method with a ref parameter of type unsigned long."
This issue is identical to issue #244 that was closed. The only difference is that the parameter type is different.

The following interface will throw the exception:

`	public interface class ITestInterface
	{
		virtual void GetValue(unsigned long %value);
	};
`
If I change it from "unsigned long" to "unsigned int", it will work with no exceptions:

`	public interface class ITestInterface
	{
		vi

[2018-08-31 22:11] stakx commented on #670
@BillArmstrong: I have no C++/CLI compiler available right now. Could you please provide...

* a compiled test assembly containing two such `public` test interfaces (one with `unsigned int`, the other with `unsigned long`)?

* the Moq version number you're using

* an indication of which .NET platform & verdion you're running your code on?

Thanks!

[2018-08-31 22:37] stakx commented on #670
In the meantime I'll make a first blind guess that [this](https://github.com/dotnet/coreclr/pull/17881#issuecomment-387114966) would be a possible cause of this problem.

[2018-08-31 23:58] stakx commented on #670
**TL;DR:** This bug is due to a limitation of .NET Reflection, upon which Moq 4 is built. There's nothing we can do about it, so I'll close this. If you're interested in some details, read on.

Unfortunately, my above guess was correct.

I compiled a C++/CLI class library with the following two interfaces:

[code]

Then I inspected the generated IL metadata using ILDASM. In IL, these methods have

[2018-08-31 23:58] #670 closed

[2018-09-03 09:14] Mies75 commented on #567
The problem reported by @clottman still has not been fixed in `Moq 4.9.0`. Binding redirects have not solved the problem.

[2018-09-03 09:19] Mies75 commented on #567
Instead of downgrading `Moq`, I have chosen to downgrade `System.Threading.Tasks.Extensions` to 4.3 (4.1.0.0).

[2018-09-03 11:14] Albert221 opened #673 "SetReturnsDefault not working for Task<>"
Explanation in comment.

[code]

Looks like `Mock.SetReturnsDefault()` doesn't like `Task` type, because `obj.SomeMethod()` returns `null` instead of `Task<bool>`. Although, if I add `.ReturnsAsync(false)` after `.Setup` (and remove `SetReturnsDefault` line) then everything is okay, obviously.

[2018-09-03 13:18] stakx commented on #673
Hi @Albert221, there's no problem with `SetReturnsDefault` here that is specific to `Task<T>`. Instead, you are observing the somewhat non-intuitive way how Moq determines default return values for method calls.

* As soon as there is a setup for some method call (such as in your case), any return value configured by `SetReturnsDefault` are ignored. This mechanism works only for method calls that

[2018-09-03 13:44] Albert221 commented on #673
Okay, it all makes sense now, thank you for your explanation!

I suggest adding this explanation (or reference to it) to XML documentation maybe? I've just searched for that in the Wiki, and it is present there, but I wonder whether it would be helpful and would save time for people like me :)

[2018-09-03 20:30] stakx commented on #673
@Albert221: That's a good idea! I'd suggest that for now, we add a hint in the XML documentation for `Mock.SetReturnsDefault` saying that those default return values are used only in the absence of a setup for a method call.

Would you like to submit a PR?

[2018-09-03 20:49] Albert221 commented on #673
Will do!

[2018-09-04 14:06] retslig commented on #669
I think if you added the spdx identifier for BSD 3 ("BSD-3-Clause") or even some text at the end with name ("BSD 3-Clause \"New\" or \"Revised\" License") to your license file this would then fix the API.

If that doesnt work then here is the instructions given by api giuthub...
https://api.github.com/licenses/bsd-3-clause

[2018-09-04 19:03] #673 closed

[2018-09-04 19:27] stakx commented on #673
@Albert221: Thank you for contributing to Moq! :+1:

[2018-09-04 22:02] stakx opened #677 "Verification exception message does include configured setups for delegate mocks"
With Moq v4.9.0, the following code:

[code]

will throw the following exception:

[code]

The statement `No setups configured.` is obviously incorrect, since there *is* a matching setup.

[2018-09-04 22:04] stakx opened #678 "Verification exception message produces incomplete call expression for delegate mocks"
With Moq v4.9.0, the following code:

[code]

will throw the following exception:

[code]

The call expression `m =>` is incomplete. It should be `m => m()`.

[2018-09-04 22:33] #677 closed

[2018-09-04 22:54] #678 closed

[2018-09-04 23:11] stakx opened #681 "Does `SetupAllProperties` actually create any setups, or does it not?"
Using Moq 4.9.0, given this:

[code]

**`mock.Verify(m => m.P, Times.Once)`** will produce this error message:

[code]

**`mock.VerifyAll()`** will produce a contradictory error message:

[code]

One error message says that there are no setups, while the other says that there is a setup. Which one is (or should be) correct?

[2018-09-04 23:15] stakx commented on #681
In my opinion, `mock.Verify(…)` has it right: `SetupAllProperties` should not create any setups (meaning that `VerifyAll` should succeed). Despite its name, the intent behind `SetupAllProperties` is to conveniently "auto-implement" all properties such that they remember the values they're being set to. It's unlikely that someone is going to read (and write to) each and every property to make `Veri

[2018-09-05 14:42] kzu commented on #681
Absolutely, you got it right @stakx: SetupAllProperties is just a way to get useful stubs.

[2018-09-05 14:54] kzu commented on #668
I do think it's useful to be able to do a callback after a returns or a throws. This will be an option in v5.
The reasoning is that in an interception scenario, you can *always* run code before/after the method
execution, and hiding/preventing that feature is an unnecessary restriction. I agree that it's not obvious
what you'd use that for, I'm having trouble making a concrete and obvious example

[2018-09-05 16:10] stakx commented on #681
Great, thanks. I'll then probably change the error messages & `VerifyAll` implementation so this works more seamlessly.

[2018-09-05 16:45] stakx commented on #668
Thanks for the feedback! :+1: Since Moq 5 will allow such callbacks we should then keep them in Moq 4. `ICallbackAfter` with some members marked `[Obsolete]` sounds good. (Though it's technically a breaking change anyway, since we're changing the return type of the `.Returns` and `.CallBase` verbs.) I'll prepare this for the next release.

[2018-09-06 12:16] DmitryBryluk opened #685 "rethrow exceptions from callback"
suppose we have complex object which have as a parameter some action object. action usually executes with no exception, but when it throws, complex object handles the exception itself without passing out, "eats the exception". so, if we have some test assertions in action mock, exceptions from these assertions are eaten too, and test is passed with no error.

is there an option to rethrow any exce

[2018-09-06 12:26] stakx commented on #685
No, not if there's something in-between that swallows all exceptions. But you can catch the exception inside the callback, store it in a captured variable, and check that variable outside of your setup and re-throw the exception there.

[2018-09-06 12:33] DmitryBryluk commented on #685
imagine we can't manage ComplexObject in example, or this behaviour is desired: it parses exception and wraps into response message (and we can't override its return value).

it could be a nice feature, just additional param instead of extra code, how to make feature request?

[2018-09-06 12:38] stakx commented on #685
To be honest, I think that's outside the scope of Moq. Moq is concerned with mocking, not so much with helping people to "unswallow" exceptions. :-)

I don't think a mechanism along the lines of, "record all exceptions thrown during invocations, and re-throw them when I call `mock.RethrowExceptions()`" would be generally useful.

[2018-09-06 12:49] DmitryBryluk commented on #685
I thought Moq is concerned with testing ;)

rethrow just first exception, or give out a closure from setup

I have dozens of tests with these issue in several projects, like https://github.com/DigDes/SoapCore/blob/master/src/SoapCore.Tests/Serialization/XmlSerializationTests.cs

[2018-09-06 19:44] markjsc commented on #567
@Mies75 - Downgrading `System.Threading.Tasks.Extensions` to 4.3 worked for me also. Thanks for the suggestion!

[2018-09-06 21:42] stakx commented on #685
The only way that I can see this being useful in a more general manner than the scenario shown here would be if mocks logged all exceptions that get thrown during invocations, similar to how mocks already record all invocations. Thrown exceptions could then be queried at any later time through some `mock.ThrownExceptions` collection.

However, I believe the cost of implementing and maintaining suc

[2018-09-07 08:14] DmitryBryluk commented on #685
ok, thanks.
here is a little helper class to deal with this, may be someone will suggest better approach

[code]

use it as (from example in first post):
[code]

[2018-09-07 08:44] stakx commented on #191
Due to the decision made in https://github.com/moq/moq4/issues/681 and the corresponding change made to `SetupAllProperties` in #684, this issue will be fixed in Moq version >4.9.0.

[2018-09-07 08:49] stakx commented on #681
Due to the decision made in #681 and the corresponding change made to SetupAllProperties in #684, this issue will be fixed in Moq version >4.9.0.

[2018-09-07 08:50] stakx commented on #556
Due to the decision made in #681 and the corresponding change made to SetupAllProperties in #684, this issue will be fixed in Moq version >4.9.0.

[2018-09-07 09:07] Custodia opened #689 "Cannot set callback on function call that uses default parameter"
If you setup a callback on a function with a default parameter and then call the function without overriding the default parameter the callback function supplied to Moqs .Callback will never be called.

[2018-09-07 09:20] stakx commented on #689
[code]

This test appears to do what you've described, yet it passes just fine.

Can you post a brief failing test that demonstrates the issue you're describing?

[2018-09-07 09:29] stakx commented on #668
Closing this for now. Might reconsider this for the next release; if we have other binary breaking changes in there, we could include the closed PR (linked above) there.

[2018-09-07 09:29] #668 closed

[2018-09-07 19:23] godrose opened #690 "Use latest version of 'System.Threading.Tasks.Extensions'"
The version 4.9.0 depends on specific version 4.3.0 of `System.Threading.Tasks.Extensions` package.
This introduces conflicts with other external packages that use later versions of this package (like `System.Reactive`)

[2018-09-08 07:58] #669 closed

[2018-09-08 10:28] stakx commented on #607
@uecasm, @Tragedian - I've just pushed Moq 4.10.0 (which includes the improvement for `VerifyNoOtherCalls`) to NuGet. It should be available shortly.

[2018-09-08 10:28] stakx commented on #615
@Nikkelmann, @Tragedian - I've just pushed Moq 4.10.0 (which includes `voidMethodSetup.CallBase()`) to NuGet. It should be available shortly.

[2018-09-08 10:29] stakx commented on #652
@MaMazav, @idigra - I've just pushed Moq 4.10.0 (which includes a bugfix for this) to NuGet. It should be available shortly.

[2018-09-09 10:07] idigra commented on #652
Thanks, I just verified and it works now.

[2018-09-09 15:26] Custodia commented on #689
I'll look at this again on Monday.

[2018-09-09 15:33] michal-ciechan commented on #343
@stakx  I will take a look at it today + next week.

[2018-09-10 08:47] Custodia commented on #689
The issue was fixed by replacing a call to a factory method from `.Returns(publisherMock.Object)` to `.Returns(() => publisherMock.Object)` so this is unrelated to what I originally thought it was.

That being said I think it's confusing behaviour that the property isn't actually a property but actually generates a new instance of the mock object. I think it would make way more intuitive sense if

[2018-09-10 08:47] #689 closed

[2018-09-11 14:55] stakx commented on #690
@godrose - If you are using a recent version of Visual Studio and MSBuild, there *should* in theory be no need to manually configure binding redirects, unless perhaps you created your project file with previous tooling versions. Find a few things below that you can try.

Using a recent VS version, things should be as simple as this: Create a new console app project (I've tried with both .NET 4.6.1

[2018-09-14 09:35] jehof opened #692 "Adding a generic ThrowsAsync method"
Is it possible to add a generic version of ThrowsAsync like it is available with Throws<T>, so that we could write

`mock.Setup(p => p.DoAsync()).ThrowsAsync<InvalidOperationException>();`

instead of

`mock.Setup(p => p.DoAsync()).ThrowsAsync(new InvalidOperationException());`

[2018-09-20 05:02] idigra opened #695 "ArgumentNullException on trying to mock indexer setter with more than single index argument"
See following repro:

[code]

The issue is a result of the if and explicitly marked with TODO in the code (file src\Moq\Mock.cs):

https://github.com/moq/moq4/blob/22cce9c3f5a7e6a66f079ad719a7e415636430bb/src/Moq/Mock.cs#L670-L677

[2018-09-20 05:22] idigra opened #696 "Mocking indexer captures It.IsAny() as the value, even if given in the indexer argument"
Following code mocks the indexer and followed by two calls to the indexer. I would expect Moq to capture the first call (mock.Object[10] = 8) but the second is captured (mock.Object[0] = 17;):

			int x = default(int);
			int result = default(int);

			var mock = new Mock<IFoo>();
			mock.SetupSet(f => f[It.IsAny<int>()] = 8)
				.Callback(new Action<int, int>((x_, result_) =>
				{
					x = x_;

[2018-09-20 11:40] stakx commented on #696
As you correctly noted in the PR, this is duplicate. Thank you nevertheless for posting some suggestions on how to possibly resolve it. I'm a little pressed for time at the moment, some quick thoughts:

This would be the easiest solution, but it might be confusing for users to deprecate a method, then bring it back, then see it gone again in Moq v5. Because Moq v5 does proxy generation at design/c

[2018-09-20 13:07] MaMazav commented on #696
I think that my solution does solves this problem. If you approve that its an acceptible solution (no other problems in it), I will publish another iteration in the referenced PR so you can decide if Im correct.

[2018-09-20 13:31] idigra commented on #696
I think that my solution does solve that problem. If you approve that this solution has no other problems than that, I'll publish another iteration in the referenced PR along with unit tests so you can investigate the solution.

[2018-09-21 14:57] charanuvs opened #697 "Moq.dll flagged by BinSkim"
When running BinSkim scan as part of the CI build, BinSkim is reporting two errors in Moq.dll (v4.10.0):

Are there any plans to fix these issues?

[2018-09-21 15:44] stakx commented on #697
Hi @charanuvs. Never heard of that tool, and I do wonder whether your CI is configured correctly.

The warnings you got suggest that this utility assumes that `Moq.dll` contains unmanaged code, or was compiled with a very old compiler (Visual Studio 2005 or earlier), both of which isn't the case. And as far as I understand it, NX doesn't actually apply to IL-only assemblies.

Anyhow, I quickly dow

[2018-09-21 20:48] charanuvs commented on #697
@stakx You are right. There was an older assembly in the project (version 3) that was causing these errors. I removed that file and the error is fixed.
Thank you for looking into it. Sorry for the mix-up!

[2018-09-21 20:48] #697 closed

[2018-09-22 16:13] stakx opened #699 "`Verify` can create setups that causes a subsequent `VerifyAll` to fail"
### Reproduction code:

[code]

### Actual behavior:

`VerifyAll` throws a `MockException` with message:

[code]

### Expected behavior:

All verification steps should pass because there are no invocations nor any setups.

[2018-09-23 16:10] stakx commented on #696
As a small improvement to the current workings of `SetupSetImpl`, we could do something like this:

* If only one matcher was used, assign it to the last (`value`) parameter. This is to stay compatible with how Moq has worked up until now.

* If more than one matcher was used, assign the last one to the `value` parameter (as above) and assign the others starting with the left-most parameter. Only

[2018-09-25 06:04] idigra commented on #696
Seen your comments, I don't care to break the PR into `NullReferenceException` fix, `SetupSet` improvements and testing.

This is one of the few examples that I would say that backward compatibility is not desired. That's too clear bug, that even if someone has written `obj[It.IsAny()] = 5;` he won't want it to continue passing. Even more, I think that if anyone has written such statement he alrea

[2018-10-03 15:47] Mardoxx opened #700 "Mocking class with no parameterless ctor"
Has this been considered?

[code]

Would be nice to be able to do `new Mock<MockMe>();` without having to specify params.
Maybe have it choose simplest ctor (least num params) and then attempt to throw in mocks of these parameters (or default values).

Here `new Mock<MockMe>();` would be equiv of `new Mock<MockMe>(Mock.Of<ISomeDependency>());`

[2018-10-03 16:46] stakx commented on #700
Moq is not a DI container and as far as I am aware, it doesn't strive to be one. If we added this functionality to Moq, it would either be very incomplete (when compared to a proper DI container), or we'd have to bring in a lot of functionality that has nothing to do with mocking. Both outcomes are equally undesirable.

It would be much better, IMO, to build this functionality / integration outsid

[2018-10-03 16:46] #700 closed

[2018-10-03 20:32] jonschoning opened #701 "NuDoq API documentation is down"
NOTICE: NuDoq domain name expired on 9/25/2018 and is pending renewal or deletion.

[2018-10-03 21:10] stakx commented on #701
NuDoq has seen very little love for the past two years or so. I'm pretty sure the project was abandoned long ago. See also #354 and moq/moq#1, seems @kzu has been thinking about a new documentation website.

[2018-10-03 21:19] stakx commented on #701
@jonschoning: I won't be around for the next few days, but if you have some spare time and if you are willing to contribute, I think it would be great to remove references to NuDoq from this repository. (No point in linking to a resource that's long gone stale, and is now even gone.) Likely places for such references are the Wiki start page, and probably the README, too.

Please, feel free to edit

[2018-10-03 21:46] kzu commented on #701
Domain renewed. Would love to revamp it on top of docfx or something like that

[2018-10-04 02:44] stakx commented on #701
Good to hear. In that case let's keep the links to NuDoq a little longer. :)

[2018-10-04 02:45] #701 closed

[2018-10-04 10:34] Mardoxx commented on #700
That's exactly what I was looking for, thanks so much 😄

[2018-10-04 10:53] stakx commented on #700
You're welcome!

[2018-10-08 06:45] marcin-chwedczuk-meow opened #702 "Adding `Callback` to a mock breaks async tests"
I have the following csproj:
[code]
and the following test class:
[code]
The test fails because `DoMoreStuffAsync` returns `null` which breaks `async` state machine generated by C# compiler. Uncommenting line that I called `line X` solves the problem.

In my opinion `async` methods should be treated specially by mock, and generally they should never return `null` (as this is certainly a mistake).

[2018-10-08 07:16] stakx commented on #702
Hi @marcin-chwedczuk-meow - what you are seeing here has nothing to do with `.Callback` per se. Rather, it is a consequence of setting up a method without explicitly defining a return value for that setup. As soon as you do a `.Setup` for a method, but omit a `.Returns` (or alternatively, `.CallBase`), Moq will simply return `default` for the method's return type. Note that the behavior is differe

[2018-10-08 11:30] marcin-chwedczuk-meow commented on #702
Adding `.ReturnsAsync` is not a problem when you *already* know the solution. What I am afraid about is that juniors or less experienced programmers will use `Callback` as I used in my example and they will be baffled by a strange behavior of the test. They will get a `NullReferenceException` coming from async machinery. Maybe just extending documentation would be enough?

[2018-10-08 14:30] stakx commented on #702
@marcin-chwedczuk-meow - I totally understand where you're coming from, and I agree there's a trap waiting here for anyone not overly familiar with Moq.

However, I don't buy the "juniors or less experienced programmers" argument. If a programmer does not know how to analyze and resolve a `NullReferenceException` (which is likely the most common exception), then they need to learn that skill. It s

[2018-10-08 19:23] stakx commented on #702
PS: Amazing profile picture! :)

[2018-10-08 19:27] #695 closed

[2018-10-08 19:44] stakx opened #703 "Setup gets included in `Verify` despite being "unreachable""
### Reproduction code:

[code]

### Actual behavior:

`Verify` throws a `MockException` with message:

[code]

### Expected behavior:

No exception should be thrown, since setup 2 overrides the "root" of setup 1 (`m.X`) and there's no longer any way of getting at 2's `m.X.X` through `mock` (on which verification is triggered).

[2018-10-10 19:58] stakx commented on #702
Possibly related: #327.

[2018-10-13 15:11] stakx opened #706 "`CallBase` should not be allowed for delegate mocks"
### Reproduction code:

[code]

### Actual behavior:

`mock.Object.Invoke()` throws a `NotImplementedException` with message:

[code]

### Expected behavior:

The call to `.CallBase()` should throw a `NotSupportedException` with a message explaining that `CallBase` cannot be used with delegate mocks.

The same should happen when setting a delegate mock's `CallBase` property to `true`.

[2018-10-14 09:26] stakx opened #707 "Moq tries to evaluate non-evaluable parameter expressions"
### Reproduction code:

[code]

### Actual behavior:

An `InvalidOperationException` is thrown with the following message and stack trace:

[code]

### Expected behavior:

Moq should recognize that the expression parameter `m` cannot be used in any place other than the expression body's (left-most) root. It should throw a `NotSupportedException` before attempting to evaluate `identity(…)`. This al

[2018-10-15 12:09] tehmantra commented on #706
Hey, created PR #708

[2018-10-15 13:48] stakx commented on #706
@tehmantra, thank you for picking this one up! :+1: I've posted a review on your PR.

[2018-10-15 23:05] #706 closed

[2018-10-19 15:36] kj1981 opened #709 "Getting error: An expression tree may not contain a call or invocation that uses optional arguments"
This is the first time I am writing test case and I am not sort of stuck and not sure how to proceed further.

I have the following API. In the below sample I have 2 endpoints which I want to perform testing.

[code]

Below is the xUnit project that I added. Here I am using Moq to mock up my AWS connection and others. Questions are below in comments against the code.

[code]

Above I am getting th

[2018-10-19 16:51] stakx commented on #709
That's a lot of code to look at.

What's the definition of `.GetRemainingAsync()`? Could it be that it has optional parameters (possibly a `CancellationToken`?) If so, try specifying explicit values even for those optional parameters (e.g. `default(CancellationToken)`).

[2018-10-19 16:53] stakx commented on #709
P.S.: This issue tracker is mainly for Moq bug reports, feature requests, and the like (i.e. its targeted at the further development of Moq). You might better off asking usage questions on sites like Stack Overflow, as there'll be more people seeing your question.

[2018-10-19 17:32] kj1981 commented on #709
I dint get usefull response in stackoverlfow so posted here. Where do I need to set CancellationToken. Can you share the example line.

[2018-10-19 18:03] stakx commented on #709
Re-read my first post. I was referring to the last line of code you posted in your question.

[2018-10-19 20:55] #709 closed

[2018-10-22 14:06] tiagodenoronha opened #710 "FileNotFoundException: Microsoft.AspNetCore.Razor.Runtime"
Good afternoon,

I'm having some trouble figuring out why i'm getting this specified error when mocking an aparently normal object.
The exception is
`Message: System.IO.FileNotFoundException : Could not load file or assembly 'Microsoft.AspNetCore.Razor.Runtime, Version=2.1.1.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'. The system cannot find the file specified.`

I can provide a concrete

[2018-10-23 07:14] stakx commented on #710
`TokenModel` appears to be defined in your main project, which references `Microsoft.AspNetCore.App`, which has a dependency on `Microsoft.AspNetCore.Razor`, which in turn depends on `Microsoft.AspNetCore.Razor.Runtime`. So it seems to me that the latter assembly *should* be around.

Perhaps try publishing your application and see what dependencies get copied to the `publish/` output directory. Or

[2018-10-25 18:13] aeslinger0 opened #711 "`VerifyAll` throws System.InvalidOperationException: 'Nullable object must have a value.'"
I'm running a unit test that passed using Moq 4.2.1409.1722 but now fails using 4.10.0 with the exception above. I loaded the symbols for Moq to see if I could figure out what was failing. This is what I saw:

![image](https://user-images.githubusercontent.com/8813038/47520135-fa1f2e00-d854-11e8-80e9-93d269f6896a.png)

Not sure if related, but note the error when trying to view the `expression` pa

[2018-10-25 18:50] stakx commented on #711
@aeslinger0 - Thanks for reporting. It would be great if you could post a short, self-contained repro code example or unit test so this can be looked into.

[2018-10-25 18:54] stakx commented on #711
That's unrelated. It's simply because you've been debugging with a Moq assembly that's been built with the Release configuration.

[2018-10-25 19:52] aeslinger0 commented on #711
This should reproduce the problem:

[UnitTestProject1.zip](https://github.com/moq/moq4/files/2516496/UnitTestProject1.zip)

[2018-10-25 22:29] stakx commented on #711
OK, after studying your ZIP file for a while, I think this is what you're dealing with:

[code]

`VerifyAll` will fail because at some point it will try to re-evaluate the original setup expression, and because `x.Value` has become `null` in the meantime, an exception will be thrown. Had you simply defined your setup as `mock.Setup(m => m(1))` (i.e. if you'd inlined the constant) then your test wo

[2018-10-25 22:34] stakx commented on #711
On the other hand, what about the following test:

[code]

This produces the same error, but in this case it's much more obvious why things are going wrong. Should this test succeed or not? I think this one should fail.

[2018-10-26 12:09] stakx commented on #711
After ome more pondering I am pretty certain that this is a bu, because there is an internal inconsistency in such a setup: On the one hand, the argument expression gets evaluated eagerly to produce a constant-value  argument matcher (used for matching invocations against setups), and on the other hand, the original setup expression gets re-evaluated (i.e. lazily) during verification. That doesn't

[2018-10-26 15:40] tiagodenoronha commented on #710
Even with the publish the dll doesn't appear in the folder, which makes it even stranger...
It's most likely a problem on my side, just can figure out what :)
Thanks anyways!

[2018-10-26 15:45] stakx commented on #710
@tiagodenoronha - I cloned your repository and ran the unit tests. They all pass. So yes, I'd say this is a problem with your setup or tooling.

[2018-10-26 16:34] aeslinger0 commented on #711
Thanks. Based on your commennts, I changed the test from:
[code]

To:
[code]
The test now passes. Thanks for your help. Good luck with the bug!

[2018-10-27 12:34] stakx commented on #711
Note to self, here's a related unit test; Moq does evaluate some things lazily by design:

https://github.com/moq/moq4/blob/65ce19e75181a479c2d17cd5389f38412dc5c91a/tests/Moq.Tests/ReturnsFixture.cs#L122-L135

[2018-10-27 23:03] tiagodenoronha commented on #710
Well I installed Microsoft.AspNetCore.Razor.Runtime and aparently it now works... Weird..

[2018-10-30 08:13] godrose commented on #567
What if I have another package that specifies a version of `System.Threading.Tasks.Extensions`>4.3.0?
Is there any magic redirect or Moq fix that will sort this out?

[2018-10-31 17:27] mosentok opened #714 "ArgumentOutOfRangeException when setup expression contains indexer access"
I'm getting an ArgumentOutOfRangeException when my Setup expression contains accessing an object in an array at an index.

[code]

This can be remedied by first accessing the object at the index.

[code]

If this is intended behavior, could Moq be enhanced to detect this type of expression and throw an exception with a helpful message? This would add value in troubleshooting these expressions.

Be

[2018-10-31 19:54] jchesshir commented on #343
I would love to see this one make it to release!

[2018-10-31 19:56] stakx commented on #714
[code]

[2018-10-31 20:08] stakx commented on #714
Interestingly, this is the second issue we've recently got that is related to how Moq evaluates parameters in a setup expression (see https://github.com/moq/moq4/issues/711#issuecomment-433616626 for that other one).

What's apparently happening in your case is that the `containers[i]` part of your setup expression is not evaluated eagerly, but lazily. That is, it only gets evaluated when you invo

[2018-11-02 08:14] lucaslra opened #715 ""Verify" on method called with Parallel.ForEach has the wrong number of calls"
Hi,

I have a simple code that is called exactly 5 times through the use of Parallel.ForEach:

[code]

The method works exactly as expected, but I am facing a problem with my Moq verification of the call count.

I have this verification:
[code]

But _**intermittently**_ I get this errror:

[code]

I reinforce that this error is intermittent, sometimes it succeeds... I get that this has relation wi

[2018-11-02 12:28] stakx commented on #715
@lucaslra - Could you please post short, self-contained, and executable code example that demonstrates this? From the little bit of code you've posted, it is hard to tell how exactly your real code looks. (For example, you have something called `fileProcessor` you use in the parallel loop, but you verify against `mockedFileProcessor`. It's these small details suggesting that one isn't getting the

[2018-11-02 13:52] stakx commented on #715
P.S.: Could you please also state what version of Moq you're using? If you're not using the current version (4.10.0 at this time of writing), please make sure to update, re-run your code, and see if the problem persists.

[2018-11-06 14:40] lucaslra commented on #715
Hi @stakx
I spent sometime trying to do what you've asked, but I really cannot create an isolated scenario that can reproduce the problem, which is pretty weird.
I guess it says that this is something on my setup.

I'll close the issue, but thanks for the help.

[2018-11-06 14:40] #715 closed

[2018-11-06 20:17] bassettb opened #719 "`net45` target causes major build issues in .NET Framework 4.7 projects"
Moq should include a build target for .Net Framework 4.7.  This target would not have a dependency on System.ValueTuple.  The current 4.5 target causes major build issues in Framework 4.7 projects.

[2018-11-06 21:16] stakx commented on #719
Interesting that noone reported any major issues up until now. Could you please explain in some more detail just what those issues are?

(P.S.: We've already had several issues asking for certain targets and it's being considered, so I will likely close this issue as a duplicate.)

[2018-11-07 05:18] bassettb commented on #719
The warning is below.  It could not be resolved with a binding redirect or by adding the latest System.ValueTuple nuget to our projects.   `warning MSB3258: The primary reference "myproject.dll" could not be resolved because it has an indirect dependency on the .NET Framework assembly "System.ValueTuple, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" which has a higher version

[2018-11-07 07:46] stakx commented on #719
Must be something with your specific setup. Make sure you have the latest versions of everything (VS, NuGet, .NET Framework). It might also help to use `<PackageReference>` instead of `packages.config`. If you're using the old `.csproj` format, make sure you use `<AutoGenerateBindingRedirects>true</AutoGenerateBindingRedirects>`.

Finally, please note that this type of problem cannot be fixed for

[2018-11-07 15:16] bassettb commented on #719
That's disappointing.  Our solution has 90 projects and uses 30-40 nuget packages.  We still use many non-nuget DLLs.  But we aren't unique.  Not every project out there is created perfectly clean like your example.  Many company's projects are slowly migrating from pre-nuget days using Framework to a future goal of using nuget and netstandard.  And along the way, they have a lot of challenges wit

[2018-11-08 01:22] edjez opened #720 "Rename License.txt to LICENSE.txt"

[2018-11-08 06:35] stakx commented on #720
Thanks for your PR.

Unfortunately, we cannot do that. There are links out there (e.g. on nuget.org) pointing to `License.txt`, renaming the file will break those links.

Thank you for caring, though.

[2018-11-08 06:35] #720 closed

[2018-11-08 07:31] stakx commented on #719
Of course not every code base is as pristine as the little example I posted above. I posted it only to demonstrate that the claim, _"the current 4.5 target causes major build issues in Framework 4.7 projects"_ simply doesn't hold true in general. I am suggesting that if things don't work in your case, there must be some other factor involved, and it is important to know what that is before we blin

[2018-11-08 23:56] stakx commented on #719
@bassettb - I changed Moq such that it no longer needs to depend on `System.ValueTuple` at all... which appears to be the NuGet dependency that causes you problems. Will this help you?

[2018-11-11 14:39] stakx commented on #696
@idigra, apologies for not yet having replied to your above post. It's not forgotten.

In fact, I've been spending some time on refactoring `FluentMockContext` (see #722) so it would allow us to get at all matchers used with a mock invocation (which would be the prerequisite for the above scheme).

I'll try to reply to the actual points you made above as soon as possible. Thanks for being patient!

[2018-11-16 14:39] voroninp commented on #567
I've experimented a bit.

If package `System.Threading.Tasks.Extensions` is explicitly added to the project, `Moq` fails on loading `System.ValueType`.

It looks like there are really [some problems](https://github.com/dotnet/standard/issues/481) with transitive dependencies resolution. =(

I had similar issue when tried to test a project targeted for `NetStadnard2.0`.
My MsTest project had old fo

[2018-11-17 20:30] #719 closed

[2018-11-22 11:06] Gonnagle commented on #567
Struggled to the same issue with project targeting `net461`, but using the new csproj. Apparently was able to resolve it by adding Binding Redirects for `System.Threading.Tasks.Extensions`.

[code]

Actually used [Paket](https://fsprojects.github.io/Paket/dependencies-file.html#Controlling-assembly-binding-redirects) to generate the BRs...

[2018-11-26 11:50] WistfulWolf opened #724 "Mock virtual methods in base classes"
Hi,
I'm trying to mock a virtual method of the base class using partial mocks. The problem arises when I need to mock an overridden method. The example below should explain it better.

Base class
[code]

Extension
[code]

Mock (AAA-style)
[code]

My expectations are DoStuffBasedOnSignInStatus is called but actually it isn't.
How can I setup mock for base method (and not for the actual method which

[2018-11-26 19:49] stakx commented on #724
@WistfulWolf - Setting `CallBase = true` on the mock only has an effect for methods that have no setup at all. Since you're setting up `PasswordSignInAsync`, `CallBase = true` no longer takes effect for that method.

There's also a method-level `.CallBase()` with slightly different semantics: it's used as an alternative to `.Returns()`. The return value gets determined by the base method implement

[2018-11-27 12:10] dav1dev opened #725 "InvalidOperationException when specifiying setup on mock with mock containing property of type Nullable<T>"
### Description
Value of nullable object gets lost while it is used to setup a method call on another mock. This results in an InvalidOperationException.
Example: `myMock.Setup(x => x.Do(dataMock.Id.Value));`

#### Expected Behavior
Value of nullable type remains on mock as setup.

#### Actual Behavior
Mock instance/context gets lost in scope of setup call on another mock in case the referenced pr

[2018-11-27 15:45] stakx commented on #725
@dav1dev - Thank you for reporting this. Will look into this ASAP and report findings back here.

[2018-11-27 21:01] stakx commented on #725
@dav1dev - Nice find! :+1:

TL;DR: If you're just interested in fixing this problem, then swap out `data` with something that is not a `Mock<>`. For example, manually create a sub-class that returns an appropriate value for the `Id` propery. If you want to understand what's going on, read on.

I'll start with a short recap of what your repro code boils down to, then let's look at what goes wrong:

[2018-11-28 08:44] dav1dev commented on #725
@stakx Thank you for this insight. A fix for this case did not pop into my mind just yet.

Meanwhile I worked around the issue by specifying the setups with an extra variable as demonstrated below:
[code]

[2018-11-28 09:56] stakx commented on #725
@dav1dev - Glad you found a workaround for the time being!

Regarding a bug fix, there are several options. My personal favourite would be to bring back the `[Matcher]` attribute, which has been deprecated a long time ago. However, Moq's XML documentation comments still (erroneously) state that all custom matcher methods must be decorated with a `[Matcher]` attribute. I'd like to reinstate this re

[2018-11-28 15:17] WistfulWolf commented on #724
@stakx thank you for your response!
As I see it's impossible to check whether the base method's called using Verify to check parameters and number of times it's invoked.

[code]

Basically I need check that when I call GetValueAsync on instance of DerivativeFromBase class the GetValueAsync of Base is called and receives newParameter. But I don't really see any solution for this using `.CallBase()`

[2018-11-28 20:04] stakx commented on #724
@WistfulWolf - Imagine for a moment that you didn't have a mocking library available. How would you do what you want to do if you coded your mock manually? If you can't find a solution, then it's likely that Moq won't be of any help (because it really just automates what you'd otherwise have to do manually).

The best I can think of is to convert the relationship between `Base` and `DerivativeFrom

[2018-11-29 03:21] Bungalow12 opened #726 "Trouble building on OSX"
I'm having trouble restoring NuGet packages:
[code]

[2018-11-29 07:07] stakx commented on #726
Sorry, I don't understand your post at all. Are you trying to build Moq from source? If so, using what tools? (You'd probably need to have Mono installed in order to compile the `net45` target.) What does that list of targets above mean?

If you just want to use Moq, why not just use the **Moq** NuGet package? (If you just want DLLs, download the NuGet package from NUGet.org, rename it to a `.zip`

[2018-11-29 18:17] Bungalow12 commented on #726
Oh... Yeah I guess that makes a lot more sense. :/
Regardless there is no easy way I have found to build Moq from source on
OSX. So that would still be awesome if it was made easier.

On Wed, Nov 28, 2018 at 11:07 PM stakx <notifications@github.com> wrote:

[2018-11-30 07:52] stakx commented on #726
@Bungalow12 - Well, would you be interested in looking into this? I can't be of much help there, as I don't have access to an Apple machine. I'm pretty sure that it would take a recent Mono installation because you'd need a set of .NET Framework 4.x reference assemblies to build against. I also suspect that the build process as a whole might have to be rewritten to make use of the `dotnet` toolcha

[2018-12-01 01:53] powerdude opened #727 "error messages don't display the parent class name of an inner class object"
If i have classes like this:

[code]

and try to verify a mock call:
[code]
and call the service `service.Send(new Foo1.Bar())`, the messages displayed fail to indicate the parent class name.
[code]

Ideally, it should say:
[code]

[2018-12-01 08:29] stakx commented on #727
@powerdude, thanks for reporting this. Would you like to submit a PR for this?

This could be quite easily done by changing Moq's [`StringBuilderExtensions.AppendNameOf(this StringBuilder, Type)` method](https://github.com/moq/moq4/blob/c5ffae8c2486b8244a81acb3a6abe2e1a7d555fe/src/Moq/StringBuilderExtensions.cs#L37-L68).

It just so happens that I wrote a small library called TypeNameFormatter not

[2018-12-03 01:30] powerdude commented on #727
sure, i'll try and have a look

[2018-12-03 16:09] stakx commented on #727
Fixed by #728.

[2018-12-03 16:09] #727 closed

[2018-12-03 19:20] #690 closed

[2018-12-03 19:21] stakx commented on #690
@godrose - Moq 4.10.1 which now uses System.Threading.Tasks.Extensions 4.5.1 should become available on NuGet.org in a short moment.

[2018-12-03 19:23] stakx commented on #719
@bassettb - I just pushed Moq 4.10.1 to NuGet. This version no longer depends on System.ValueTuple, and dependencies o n System.* NuGet packages have been upgraded to the latest versions. Consider giving it a try.

[2018-12-03 19:38] powerdude commented on #727
yayy!!.  Thanks @stakx!

[2018-12-03 19:39] stakx commented on #578
@bdarby22 - Moq 4.10.1 has just become available on Moq. That version no longer has a dependency on System.ValueTuple.

[2018-12-03 19:40] godrose commented on #690
Perfect timing!

On Mon, 3 Dec 2018 at 21:21 stakx <notifications@github.com> wrote:

--
Best Regards,
Gena

[2018-12-05 15:23] Veikedo commented on #706
It looks like something is wrong with this issue.

I have this code

    [Theory]
    [AutoMoqData]
    internal async Task GetAutomationStatistics_should_return_correct_statistics(
      [Frozen] Mock<GetAutomationsLogTotalCount> getAutomationsLogTotalCount,
      [Frozen] GetCurrentlyRunningSchedulesResult getCurrentlyRunningSchedulesResult,
      [Frozen] GetAutomationsTotalCountResult getAutom

[2018-12-05 15:26] Veikedo opened #731 "CallBase cannot be used with Delegate mocks"
First of all, I don't call `CallBase` method explicitly.

I have this code

    [Theory]
    [AutoMoqData]
    internal async Task GetAutomationStatistics_should_return_correct_statistics(
      [Frozen] Mock<GetAutomationsLogTotalCount> getAutomationsLogTotalCount,
      [Frozen] GetCurrentlyRunningSchedulesResult getCurrentlyRunningSchedulesResult,
      [Frozen] GetAutomationsTotalCountResult g

[2018-12-05 16:05] stakx commented on #731
@Veikedo - This looks like an AutoFixture problem to me. You might not be calling `.CallBase()` on the mock, but apparently AutoFixture does. Which is an error, since for delegate mocks, there is no base implementation to call.

Moq used to stay quiet about it, but it's now explicitly calling this out as a bad call.

Please report the problem to the AutoFixture project (or more precisely, whoever

[2018-12-05 16:05] #731 closed

[2018-12-05 16:07] Veikedo commented on #731
@stakx sorry, I was quite sure I am on AutoFixture's project :)
Thanks for the reply!

[2018-12-06 09:05] WistfulWolf commented on #724
@stakx - I see your point. I raised this question because when I'd been looking for solution in the Internet I bumped into this [https://www.telerik.com/forums/how-to-mock-base-class-method]. Thus I thought that **Moq** might support this behaviour as well. Looks like JustMock uses different approach to mock methods in base classes. Anyway thank you for your time!

[2018-12-06 14:05] stakx commented on #724
I see. I suspect that JustMock is using the CLR's profiling API in order to mock things like non-public, static, or sealed members. Moq is less powerful in that regard as it uses a different foundation.

[2018-12-06 14:05] #724 closed

[2018-12-06 22:55] stakx commented on #630
Based on these references:

* **Cross-platform targeting guide:**
   https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/cross-platform-targeting

* **`System.Reflection.Emit` NuGet package has been relisted:**
   https://github.com/dotnet/corefx/issues/29365#issuecomment-398130364

* **`Reflection.Emit` will be included in .NET Standard 2.1**:
   https://github.com/dotnet/standard/p

[2018-12-06 23:22] stakx commented on #630
Closing this, since it's pretty clear from the reactions to the posts above, as well as from the new information that's become available recently, that .NET Standard support in Moq is a wanted feature.

[2018-12-06 23:22] #630 closed

[2018-12-08 09:00] #725 closed

[2018-12-10 12:23] dav1dev commented on #725
@stakx Thank you for closing this issue!

[2018-12-12 18:11] stakx commented on #707
This has been slightly defused by 233063e1. What's more, this invalid usage pattern is probably an edge case that's unlikely to cause much trouble in real-world applications. On the other hand, guarding against it would require expression-tree-walking each and every argument expression appearing in setup/verify expressions. That cost-benefit ratio suggests that fixing this perhaps isn't warranted.

[2018-12-12 20:37] jchesshir opened #733 "Invocations.Clear() does not cause Verify to fail."
If an expected function on a Mock is called and then Invocations.Clear() is called on the Mock object, it does not erase the record of the call.  Consequently, a call to a Verify function after the call to Invocations.Clear succeeds.

I would expect the code to throw an error on the call to an error.
For example:

    try
    {
        Mock<ITest> mockTest = new Mock<ITest>(MockBehavior.Strict);

[2018-12-13 00:01] stakx commented on #733
Thanks for reporting.

I'm in two minds about this. Consider this related example:

[code]

Should the second `Verify` succeed, or should it fail?

On the one hand, it should succeed because there *was* an invocation matching the setup expression (i.e. a green toy was being played with)--even when the toy is now no longer green.

On the other hand, it should fail because the setzp expression no lo

[2018-12-13 08:06] p-hu commented on #75
Being a newby in this blog I might not see the complete picture. I think testing with sequences are essential.
The moq functionality without sequence was really just a playground for testing but if you want to test protocols and issues during communication you need to be able to use sequences.

@stakx: your proposal goes into the right direction but I think the mock.Verify() and the sequence.Verif

[2018-12-17 12:43] NoxMortem opened #734 "Unable to resolve IFluentInterface"
Trying to build moq4, I am unable to resolve IFluentInterface. Any ideas?

I've already updated Visual Studio 2017, used `git reset --hard`, `git pull` to get the latest stage, restored the nuget packages but still I am unable to build it.

[2018-12-18 08:33] stakx commented on #734
Hmm. Usually, any initial problems with building disappear once you've performed a package restore and re-opened the solution. Can you try the following?

* Close Visual Studio and delete at least the `src/Moq/bin/` and `src/Moq/obj/` folders.
* Open a Visual Studio developer prompt and run `msbuild /r` from inside the Moq solution directory.

[2018-12-18 09:19] NoxMortem commented on #734
Works in Visual Studio and is a Jetbrains Rider Bug not executing a target which generated the IFluentInterface.g.cs

[2018-12-18 09:19] #734 closed

[2018-12-19 14:47] sdepouw opened #735 "Moq.Protected.Setup() Breaks On Abstract Class with Overloaded Abstract Methods"
I recently upgraded from Moq 4.5.28 to 4.10.1. After I performed the upgrade (via NuGet) and ran my tests, some failed.

I have the following abstract class:

    public abstract class MyAbstractClass
    {
        protected abstract void ApplyRule(IDictionary<string, object> tokens);
        protected abstract void ApplyRule(object obj);

        // Other stuff below
    }

And the following test

[2018-12-20 17:32] Bungalow12 opened #736 "Example for how to return a class that also needs mocking."
Let's say I have a class `Map` that I mock. This map class has a `map.Player` that should return a `Player` class that also needs to be mocked such that I can call `player.Name` and have that return `"MockedName"`.
The situation being I am building a class that needs to get the name by calling `map.Player.Name`. I want to unit test my property for my `Controller` class' `controller.PlayerName`. Ho

[2018-12-20 18:58] stakx commented on #736
[code]

[2018-12-20 19:04] Bungalow12 commented on #736
That is perfect! Thank you. It makes so much sense now :)

[2018-12-20 19:04] #736 closed

[2018-12-20 19:11] stakx commented on #735
Hi @sdepouw. Thanks for reporting this. I'll take a look at it during the next few days. Stay tuned!

[2018-12-21 22:30] jamietwells opened #737 "Feature request: CallbackAsync"
If you're mocking an implementation and a class has method you want to test it might have a parameter that is a `Task<something>` if this is the case, you might want to ensure the something is correct so you might do a callback:

    mock
        .Setup(...)
        .Callback(task async => (await task).Should().Be(expectedSomething));

    mock.TheMethod(null);

Unfortunately, the Callback signatu

[2018-12-21 23:11] stakx commented on #737
If you are setting up a method that returns a `Task<T>`, then you can move your code to a `.Return` callback.

If you are setting up a method that does not return a `Task`, then I wonder how you would do what you're trying to do if you wrote your mock by hand. You cannot `await` inside a method that isn't async. (Well you can if the return type is `void` but it's considered a bad idea due to the p

[2018-12-21 23:17] jamietwells commented on #737
Yeah, I was thinking this when I was writing the request. It sounds impossible. I asked on stack overflow and someone had the great idea that I should just assign the task parameter to a variable in an outside scope and await it there. I'm just so used to writing the callback like: param => param.thing.should().Be(correct value) that it just didn't occur to me to assign it to a variable outside th

[2018-12-21 23:35] jamietwells commented on #737
Actually, I've just thought about it a teensy bit longer. The only way I see it working is fir you did something like:

    mock
        .Setup(m => m.InvokeMethod(It.IsAny<Whatever>()))
        .CallbackAsync(p => (await p.GetValue()).Should().Be(correct));

    mock.InvokeMethod(testParameter);

    await mock.AwaitAsyncCallbacks();

[2018-12-22 08:34] stakx commented on #735
Actually looking at the commit I've referenced, things look quite simple: Before that commit (which was the last commit before `v4.7.7` got released), Moq's `.Protected()` facility matched all parameters by their precise types; afterwards, it matched them by assignment compatibility&mdash;which, in your case, leads to two matches.

The reason why `exactParameterMatch: true` didn't work in your cas

[2018-12-22 08:41] stakx commented on #735
@sdepouw - Would you be interested in contributing this addition?

(If so, here's a rough summary of what would need to be done:

* Add all of the above regression tests to the test project, e.g. as a new `class Issue735` in `test/Moq.Tests/Regressions/IssueReportsFixture.cs`.
* Define the new overload in `src/Moq/Protected/IProtectedMock.cs` and implement it in `src/Moq/Protected/ProtectedMock.cs

[2018-12-22 08:59] stakx commented on #733
@jchesshir - I've been expecting this issue to be raised eventually, thanks for reporting it. This is one of those not-so-clear-cut cases where it is not so clear, or up to personal interpretation, what should happen. However, there are reasons why `VerifyAll` works the way it does:

What `Verify` and `VerifyAll` do is to check whether all setups have been invoked at least once. (They only differ

[2018-12-22 09:15] stakx commented on #737
@jamietwells - Agreed that something like it is generally feasible. It should be possible to implement such a `CallbackAsync` and `AwaitAsyncCallbacks` as extension methods on top of the existing API.

I'm however cautious about having something like this added to Moq. It may not be a frequent-enough scenario to warrant addition to the core library, and it may actually hinder an understanding of h

[2018-12-29 07:44] stakx commented on #330
@bojingo: You can create your mocks from a `MockRepository` which has a custom default value provider configured.

[2018-12-30 03:39] MutatedTomato opened #738 "Incomplete stack trace when exceptions when raising events"
When raising an event which throws an exception, the stack trace is terminated at `Raise`. In Mock.Generic.cs around line 571

		[SuppressMessage("Microsoft.Usage", "CA2200:RethrowToPreserveStackDetails", Justification = "We want to reset the stack trace to avoid Moq noise in it.")]
		public void Raise(Action<T> eventExpression, EventArgs args)
		{
			var (ev, target) = eventExpression.GetEventWit

[2018-12-30 09:01] stakx commented on #738
This should remove information that is valuable only when Moq is malfunctioning. The general idea here is to give you a short stack trace pointing at *your* code, and to spare you stack frames that represent purely Moq internals, which are going to be uninteresting for most users.

(I do think the original exception should be preserved e.g. as an `InnerException`.)

What additional information are

[2018-12-31 09:32] MutatedTomato commented on #738
If an exception is thrown in the following code, the stack trace is

[code]

[code]

The site throwing the exeption is lost. The debugger does not break on the exception by default because it is not an uncaught exception. Putting the exception into an inner exception seems bad too unless the enclosing exception is a smart exception which prints the all user code stack trace.

[2018-12-31 10:04] stakx commented on #738
@MutatedTomato: Could you please post a complete code example? I'm not sure I understand the above example correctly.

[2019-01-03 15:55] stakx commented on #733
What didn't occur to me in all of the above is that `Invocations.Clear()` simply doesn't erase traces of earlier calls thoroughly enough. It should be possible to "un-match" setups (but that'd technically be a breaking change).

[2019-01-03 21:41] bclothier opened #739 "Prevent proxy types from being generated for an interface"
I'm developing a mocking framework based on Moq for use in VBA (ref #rubberduck-vba/Rubberduck/pull/4681).

I'm running into a problem where proxies cannot be cast to their interfaces. From what I understand, that might be due to the fact that dynamic proxies don't actually implement the COM interfaces but create a substitute type with similar names & properties, which then cause problems in testi

[2019-01-04 01:31] jchesshir commented on #733
Yes. That is my issue exactly. I'd like to be able to reuse the mock
objects for multiple tests. As it stands I have to create and initialize a
new mock for every test. That seems to make an unnecessarily resource
bloated test set.

While I can see how changing that behavior could be a breaking change, I've
trouble understanding the use case that would benefit from the current
functionality. Can y

[2019-01-04 13:23] stakx commented on #733
I believe that the ability to clear the set of recorded invocations was introduced as a memory optimization. When you have a test that requires a very large number of invocations on your mock, these get recorded (regardless of whether your test actually requires that for later assertions or not), and that can eventually cause a `OutOfMemoryException`. I suspect that being able to remove invocation

[2019-01-04 13:52] jchesshir commented on #733
That makes sense.  Thank you again for considering the change.

On Fri, Jan 4, 2019 at 7:23 AM stakx <notifications@github.com> wrote:

[2019-01-04 15:30] stakx commented on #733
Will do. One last thing I forgot to mention earlier:

I suspect that the conventional wisdom of the unit testing community would say that creating new mocks per test is actually a good thing, as it prevents state changes of one test from accidentally "bleeding over" into other tests, thus keeping them independent.

That being said, I'll still look into the request you've made as it still seems lik

[2019-01-04 15:45] stakx commented on #739
@bclothier: TBH I haven't studied your code in great detail, I will start by offering a guess at what goes wrong.

COM type hierarchies often don't make much use of subclassing. Co-classes often implement a whole bunch of interfaces that aren't related to one another through subclassing/specialization; each of those interfaces describes one aspect of the co-class and you use `QueryInterface` to re

[2019-01-04 16:17] bclothier commented on #739
Hi, in fact, yes. It is covered in [this commit](https://github.com/rubberduck-vba/Rubberduck/pull/4681/commits/0a93417502947c558540ff59a507bf7d372e10a5).

Even so, casts doesnt seem to always work. I partially put it off in [an earlier commit](https://github.com/rubberduck-vba/Rubberduck/pull/4681/commits/c19b7c35a1f867cd20d4368454d78fbfb7dcd57e) but that was not a complete fix.

I may try modify

[2019-01-04 17:02] bclothier commented on #739
OK, I've been doing some reading up on the DynamicProxy to understand how it works. I did come across [this tidbit](http://kozmic.net/2009/11/13/interfaceproxywithtarget-interfaceproxywithtargetinterface-ndash-whatrsquos-the-difference/) which suggests that if using `ProxyInterfaceWithTargetInterface`, this would provide the type equality. Whether that also resolves the InvalidCastException is not

[2019-01-04 22:27] hughbe opened #740 "Support Linq to Mock for MockBehaviour.Strict"
This came up in https://github.com/dotnet/winforms/pull/285
Winforms guidelines require strict mocks and I’d like to use linq to mocks but we can’t make strict mocks using Mock.Of

/cc @sharwell

[2019-01-04 23:00] sharwell commented on #740
Technically a duplicate of #154, but that issue needs to be reopened.

[2019-01-04 23:02] sharwell commented on #740
📝 Note that the implementation would go here:

https://github.com/moq/moq4/blob/master/src/Moq/Linq/Mock.cs

[2019-01-05 00:03] stakx commented on #740
@hughbe, @sharwell - Yes, this is a duplicate of #154, which was left unresolved. @JohanLarsson submitted two PRs: #155, which got closed for being "unmergable" (whitespace issues, merge conflicts, etc.); and #390, which I opposed because it included only `Mock.Of<T>(MockBehavior)` instead of the much more useful `Mock.Of<T>(MockBehavior, Expression<Func<T, bool>>)`. We never got to a PR for the l

[2019-01-05 00:06] stakx commented on #740
@hughbe - Do you know about `mock.VerifyNoOtherCalls`?

[2019-01-05 01:56] bclothier commented on #739
Ok, I have an update - following your suggestion to set up a MCVE, I quickly found that the unit tests I wrote in a test solution was passing using strong-typed version. It still even passes even using reflection (as I was in my code originally). Still passes even with the wrapper object.

In the end, it turns out that it's not even Moq nor DynamicProxy at the play. It's all caused by this [seemin

[2019-01-05 01:56] #739 closed

[2019-01-05 14:18] MichaelSagalovich opened #741 "ArgumentNullException when verifying method call on EF Core mocked DbContext when the method has not been actually invoked but some DbSet setter has"
I reproduced the issue here, and probably that's enough to understand it: https://github.com/MichaelSagalovich/MoqEntityFrameworkIssueReproduction

Formal Steps:
1. Create a mock of an EF Core context with at least one DbSet property
2. Assign any value to any DbSet property (actually, null and It.IsAny did not work for me, I used another mock)
3. Call Verify method on EF Core context mock to veri

[2019-01-15 20:39] vhatsura opened #742 "Add .Net Standard 2.0 target"
According to [Open-source library guidance](https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/cross-platform-targeting) it would be good to target .Net Standard 2.0 to benefit from having a smaller package graph.

I would appreciate to help with it.

[2019-01-23 09:21] tvvbbb opened #743 "How can I mock"

[2019-01-23 09:22] #743 closed

[2019-01-23 09:30] tvvbbb opened #744 "How can I mock a task and task's isFault is true"
[code]
[code]

I  want to  verify _view.ShowMessage() run once?
What will I code in Returns?

[2019-01-23 10:23] OskarKlintrot commented on #742
https://github.com/moq/moq4/issues/630

[2019-01-26 18:16] zvirja commented on #706
@Veikedo Notice, it has been fixed in AutoFixture. Please update to a new version (it will be published soon) to get a fix 😉

[2019-01-30 10:06] yordans commented on #166
This behavior is still present in 4.10.0. Is it going to be fixed?

[2019-01-30 10:14] yordans opened #745 "Raise event when stubbed property is changed"
How to raise event when stubbed property (automatically tracking its value) is changed (setter called)?

e.g.
mock.SetupProperty(m => m.Foo).Raises(m => m.FooChanged += null);
mock.Object.Foo = 5; // raises the FooChanged event on ISomething

[2019-01-30 10:49] BrunoJuchli commented on #166
@yordans are you sure? You've just reported https://github.com/moq/moq4/issues/745, which, to me, seems an entirely different case.

If it's still present please provide the code to reproduce the issue.

[2019-01-31 08:05] yordans commented on #745
I want the event to be fired automatically when a stubbed property is changed but it seems that this functionality is missing.

[2019-02-04 06:54] miguel-dediego commented on #166
I've found an extrange behavior on firing events with Moq.
If I declare the handler for an event with Action<T> instead of EventHandler, the Raise method always throws an exception when the only argument is EventArgs, that is, with Action<EvenArgs> as the event's delegate throws the exception: _System.Reflection.TargetParameterCountException: Parameter count mismatch_
I have this code:

    public

[2019-02-04 08:33] yordans commented on #166
@BrunoJuchli Here is the code for reproducing the behavior:

[code]

In case the OwnerBool is changed (the commented line), the event is fired as expected. But when the FooBoolean is changed the event on IEventOwner is not fired as expected (I think that it is being searched for in IFoo...).

[2019-02-04 13:46] miguel-dediego opened #746 "Odd behavior when raising events Action<EventArgs>"
I've found an extrange behavior on firing events with Moq.
If I declare the handler for an event with Action<T> instead of EventHandler, the Raise method always throws an exception when the only argument is EventArgs, that is, with Action&lt;EventArgs&gt; (or subclass of EventArgs) as the event's delegate throws the exception: _System.Reflection.TargetParameterCountException: Parameter count misma

[2019-02-04 23:01] stakx commented on #166
@yordans - I haven't digged very deeply yet, however it appears that the problem was fixed only for `mock.Raise`, but not for `setup.Raises`.

The following lines of code look relevant. Notice how the "target" (i.e. the object on which the event sits) simply get discarded:

https://github.com/moq/moq4/blob/e5197829d13567c7984362829db625da6662a32d/src/Moq/MethodCall.cs#L191-L194

At this point I am

[2019-02-05 13:06] stakx commented on #745
@yordans - It appears that you've already answered your own question for the most part:

[code]

(If you want an API that creates such a setup for any pair of a property `P` and an event `PChanged`, it should be easy to create it as an extension method. Because neither the member names nor the property type will be known in advance, you'll have to build the setup expressions yourself (using the st

[2019-02-05 13:25] #744 closed, assigned to nobody

[2019-02-05 13:35] tvvbbb commented on #744
All you assume is true, Thank you.

[2019-02-05 13:40] stakx commented on #742
@vhatsura - First of all, many apologies for the delayed response. I haven't quite been able to keep up with my open-source duties due to my daytime work. :)

The first thing that will have to happen in the Moq codebase will be a cleanup of the conditional compilation symbols (`DESKTOP`, `NETCORE`, `FEATURE_CAS`, `FEATURE_CODEDOM`, `FEATURE_COM`, `FEATURE_SERIALIZATION`, etc.). The code portions t

[2019-02-05 13:55] stakx commented on #746
@miguel-dediego - This happens because the compiler picked the wrong method overload of `Raise`.

Let's look at the available overloads:

[code]

then Moq will assume an `EventHandler` event and pass an additional `object sender` event for you. But your event only takes one argument.

What you need to do is to use the other method overload:

[code]

[2019-02-05 13:55] #746 closed

[2019-02-05 15:57] yordans commented on #745
It is fine the event to be fired when the property is set, but the real problem is that I want the mock to "track" sets/gets to this property (i.e. Stub) + firing event.

`mock.SetupSet(m => m.Foo = It.IsAny<int>())`

won't track the property Foo.

[2019-02-05 20:04] stakx commented on #745
What exactly do you mean by "tracking a property"?

[2019-02-06 13:11] yordans commented on #745
When setup property in this way:
`mock.SetupProperty(m => m.Foo);`
it is a Stub and it tracks its changes, so if latter call mock.Object.Foo = 5 and then get the value, it will be 5.

And the question is could this kind of stubbed property be setup to raise an event when changed?

[2019-02-06 14:20] stakx commented on #745
I'll once again refer you to [my first post above](https://github.com/moq/moq4/issues/745#issuecomment-460630808) which shows you just how to do that.

[2019-02-06 14:39] yordans commented on #745
Thank you for your responses. I think the issue can be closed.

Is it planned `SetupProperty` to offer a way for raising events out of the box?

[2019-02-06 17:18] stakx commented on #745
No, such an extension isn't planned at the moment.

[2019-02-06 17:18] #745 closed

[2019-02-06 17:22] stakx commented on #726
Hi @Bungalow12, just going through issues and saw this one has been idle for a while. Did you ever get around to look into Moq4 build script improvements for OSX? (If not, I suggest we close this issue for now. We can mark it as unresolved, and always open again in the future if we pick up that particular thread again.)

[2019-02-06 17:27] stakx commented on #733
Smallish update, I asked kzu about this [in the Moq Gitter chat](https://gitter.im/moq/moq?at=5c2f88068dafa715c73ffb44) to make sure we'd have good compat with Moq v5; seems we're good to go & ready to implement the change discussed above.

[2019-02-07 00:54] Bungalow12 commented on #726
It’s definitely a nice to have but hardly vital. I’ll close the issue.

[2019-02-07 00:54] #726 closed

[2019-02-08 12:49] dfev77 opened #747 "Add support for detecting unused setups"
After a while there is a big chance (especially when dealing with legacy code) to have tons of mock setups that are actually not used.
It would be nice to be able to spot such case in order to cleanup the code.

An option would be to allow the test(s) to fail if there were any mocks which had setups that were not called (at the point where the mock gets out of scope)

[2019-02-08 15:32] stakx commented on #747
If you get your mocks from a `MockRepository` instead of `new`-ing them up, that should be trivial:

[code]

.NET does not have deterministic resource cleanup like that (we'd need something like C++'s RAII idiom) so that is impossible to do. The closest thing in .NET is the `IDisposable` protocol, but it's far too late in the game to make `Mock<T>` implement `IDisposable`.

In all honesty, if your

[2019-02-12 16:52] icenine457 commented on #741
Got bit by this bug in a recent unit test mocking the Remove() method attempting to verify that the "Remove()" method on an EF Core DbContext object was _not_ called (Times.Never). Thanks @MichaelSagalovich for being so thorough in your reproduction of the issue!

[2019-02-12 17:19] stakx commented on #741
Btw. for those using EF Core, you might be better off using EF Core's [in-memory database provider](https://docs.microsoft.com/en-us/ef/core/providers/in-memory/) and testing against that, instead of mocking a live `DBContext` (which is difficult to do and often goes wrong).

[2019-02-12 17:19] icenine457 commented on #741
Thanks @stakx, after this issue our team will definitely consider it instead.

[2019-02-14 11:33] tometchy opened #748 "Verify calls are made in the correct order"
I use great `Verify` method often, but sometimes I need to check not only how many times given method was invoked, but also if it was in proper order.

Sometimes even with mixing order of different mocks, for example
[code]

Currently I use work around basing on callbacks (like posted in stack overflow https://stackoverflow.com/questions/10602264/using-moq-to-verify-calls-are-made-in-the-correct-o

[2019-02-14 16:17] stakx commented on #748
Moq has a little-known (and somewhat limited) feature called "sequences" which you could use to test invocation order. I don't know it well, but IIRC it goes something like this:

[code]

We've had previous requests to improve the (currently very limited) sequence support (mostly #21 and #75), but those unfortunately haven't progressed.

There's also a third-party package [Moq.Sequences](https://w

[2019-02-14 16:38] stakx commented on #748
Hmm, on second thought, please disregard the above post. You said that you don't want to `Setup` the calls, you want to consider call order right with your `Verify` calls.

Another little-known feature you could use for this is argument capturing:

[code]

Note that the call to `mock.Verify` (which verifies that `Method` was called exactly 4 times) is actually redundant since if `args` contains fo

[2019-02-14 20:07] lepijohnny opened #749 "Verify gets confused between the same generic and non-generic signature"
Hi,

A few days ago I came across this [SO question](https://stackoverflow.com/questions/54637948/moq-verify-generic-method-tested-with-base-type-when-inherited-type-is-used). Although the question itself states something which is not correct I started investigating a bit and found one kinda strange thing which I want to share. Imagine this situation:

[code]

My actual question is why this test i

[2019-02-15 07:17] stakx commented on #749
@lepijohnny - Thank you for your report & analysis. This indeed looks like a bug, and your analysis of `InvocationShape.IsOverride` seems accurate. I think we should change this, if it doesn't break existing behaviour (tests). Would you like to submit a fix for this (including additional tests such as the above)?

[2019-02-15 07:27] lepijohnny commented on #749
**@stakx** - I already played around a bit and it seems the fix won't break any of the existing tests. I would be honored to contribute to this magnificent library so I would like to send PR with the fix (and tests of course).

[2019-02-15 07:30] tometchy commented on #748
I've read about MockSequence before, but in my case it works worse than using callbacks.
I didn't know about `Capture.In()` and it seems to be better solution, but only if you need to check order of one mock invocations, which is not my case.
My case is that I call few methods on my SUT, and SUT in result call two dependencies in exactly specified order. Moreover SUT must call those two dependenci

[2019-02-15 08:34] stakx commented on #749
@lepijohnny - Please go ahead! Contributions are welcome! :+1:

[2019-02-16 08:37] stakx commented on #748
Short of `MockSequence`, Moq currently has no other built-in API that would allow you to verify proper invocation order across several mocks. If you cannot, or don't want to, use `MockSequence`, you'll have to work around this using a counter and/or `.Callback()` (which is what  `MockSequence` and the [Moq.Sequences NuGet package](https://www.nuget.org/packages/Moq.Sequences) I mentioned above do

[2019-02-16 08:44] stakx commented on #747
@dfev77, any thoughts about the above reply? Otherwise I'll close this issue in a couple of days, since there's not much that can be done (short of rigging setups with a `TimebombException` that goes off when the setup is not invoked for a set amount of time&mdash;and I don't think that would make for a very good feature :-D).

[2019-02-16 10:57] tometchy commented on #748
I thought that `MockSequence` can be applied only across one mock, if it can combine two mocks then it can be used in my case, but as in solution which I've shown, with having assertions set in the beginning of test.

I thought that extending current `.Verify` functionality will be nice. Something, to be able to write tests like in `GIVEN_play_invoked_twice_but_play_started_and_play_complete_not_c

[2019-02-16 11:28] stakx commented on #748
Yes, `MockSequence` does work with several mocks. For example:

[code]

This example uses `MockBehavior.Strict` to disallow superfluous calls.

What this won't do&mdash;and that's one example of `MockSequence` 's limits&mdash;is to check whether all calls in the sequence have been made. You'll still need to `.Verify()` that with all participating mocks `a` and `b`:

[code]

The fundamental problem

[2019-02-16 11:51] stakx commented on #749
Fixed in #750.

[2019-02-16 11:51] #749 closed

[2019-02-16 19:09] tometchy commented on #748
I'm aware of it, every example I've given has some 'higher' state.
Btw. thanks for so fast and detailed responses, I'm under really good impression :)

[2019-02-16 21:17] stakx commented on #692
I've taken a closer look today, and it turns out that this isn't as easy as I thought... more likely, it's not possible to implement this in a useful manner.

The problem is that the extension method for `mock.ThrowsAsync(exception)` is already generic:

https://github.com/moq/moq4/blob/4abde509e4362c16f56b7386d830ea4f4dc7975f/src/Moq/ReturnsExtensions.cs#L73

While we could just have another meth

[2019-02-16 21:17] #692 closed

[2019-02-17 11:12] #748 closed

[2019-02-19 13:05] lepijohnny commented on #699
There are more cases affected by this one as well. I would like to share them as they are, IMO, all related with the way how `FluentMockVisitor` unfold fluent expression into inner mocks with setup even though we actually do `Verify` but not `Setup`. It seems that `Verify` using fluent expression add (unexpected) side effects.

## 1. MochBehaviour.Strict has been avoided

### Reproduction code:

[

[2019-02-20 07:39] #735 closed

[2019-02-20 07:41] stakx commented on #735
@Shereef, if you have a small repro code example, feel free to share it. Might look like the same problem, but have different causes.

[2019-02-20 07:41] #747 closed

[2019-02-20 07:42] stakx commented on #747
Closing due to a lack of feedback (and lack of implementation options). If you'd like to further discuss this or make further suggesrions, feel free to post here -- we can always reopen the issue.

[2019-02-20 07:48] stakx commented on #737
Closing for the reasons already given above. Better IMO to let users capture the task inside the callback (e.g. using a capturing matcher, i.e. `Capture.In`) and then await those tasks outside the setup.

[2019-02-20 07:48] #737 closed

[2019-02-20 13:00] Shereef commented on #735
@stakx: the problem is that GetMethod is looking for compatible params and my params inherit from eachother and so the parent of the class has a Populate with 1 param that is the parent of the subclass Populate param so it's compatible so SingleOrDefault throws the exception mentioned above.

I don't have an example readily available but I have done my research and this is I have come up with.

Un

[2019-02-20 13:38] Shereef commented on #735
@stakx I didn't know it would show up here but my commit on my fork adds test cases for it https://github.com/Shereef/moq4/commit/9aee4d255dc4a0a2021907855aac13c162a09ca4

please clone and run it, I wanted to do it cleanly but I had to add a nuget to access the protected method because I didn't know how to otherwise do it without that nuget

I hope this helps, P.S. I pulled latest and this test st

[2019-02-20 13:40] Shereef commented on #735
Added another case that actually breaks on Verify

Hope this helps!

[2019-02-20 17:33] stakx commented on #735
@Shereef - Thanks for the pointer to your tests!

Regarding https://github.com/Shereef/moq4/commit/9aee4d255dc4a0a2021907855aac13c162a09ca4:

Using that NuGet package is one option, but since we're in a test setting where we have control over (most of) our test types, it is probably easier to simply add a public proxy method to the test classes that invokes the protected classes:

[code]

Then we

[2019-02-20 17:42] stakx opened #752 "`mock.Protected().Verify` method group has no overloads with `bool exactParameterMatch`"
This is a continuation of https://github.com/moq/moq4/issues/735#issuecomment-465678796. In #751 we added a missing method overload to the `mock.Protected().Setup` method group that gives users the option to specify `bool exactParameterMatch` for non-void methods.

What is likely needed to solve the problem reported in https://github.com/moq/moq4/issues/735#issuecomment-465576779 is similar additi

[2019-02-20 17:48] stakx commented on #735
@Shereef,  your second test (https://github.com/Shereef/moq4/commit/27ca84b85b9224c22e847b06d4bf421a20052f80) fails for the same reason. Once there is a `Verify` overload allowing you to specify `exactParameterMatch: true`, things should work.

[2019-02-20 17:49] stakx commented on #735
I've opened an issue about this (#752), so if you'd like to add any more information or test cases, I suggest we continue this discussion over there.

[2019-02-20 18:10] Shereef commented on #752
Thanks for your feedback it all makes sense.

P.S. the virtual part I had in my original project I just forgot it while making the test here, I have updated it and created a PR with the fix, if you have feedback please don't hesitate.

[2019-02-21 06:58] lepijohnny commented on #699
@stakx - `FluentMockVisitor` translate the fluent expression the same way, it doesn't matter if it is `Setup` or `Verify`. It will always, if inner mock is not there, create one, `SetupAllProperties` and add the `Setup`. This could lead to pollution of the mock and this vague behavior. What would be drawback of introducing additional info and passing it to `FluentMockVisitor` in order to avoid set

[2019-02-21 07:40] lepijohnny opened #756 "Modify object captured by invocation impact the `Verify`"
Hi,

I found one strange behavior. The problem is that underlying invocation has been changed. Then

This is reproduction code...

[code]

Expected behavior is that both `VerifyAll` and `Verify` pass.

[2019-02-21 09:16] stakx commented on #699
@lepijohnny - I am in the process of re-architecting the way how such setups are performed internally. Once I'm done with that, `FluentMockVisitor` will likely no longer be needed at all. ;-)

(I should probably mark this and some other issues as "assigned to myself" so others know that a bugfix is already being prepared.)

[2019-02-21 09:23] stakx commented on #756
This is a misunderstanding on your part. Moq does the right thing here.

Arguments are compared using `Equals`. Because `Foo` is a reference type, all that gets recorded for your `mock.Object.Bar(foo);` call is that `Bar` was called with the `foo` object. The state of `foo` is not automatically captured.

Your `mock.Verify` fails because verification looks at all invocations that happened, and pas

[2019-02-21 09:23] #756 closed

[2019-02-21 10:43] lepijohnny commented on #756
@stakx - It perfectly makes sense if you don't have `setup` but actually it will fail even if you have `setup` as, you explained that as well, `Verify` acts purely on invocation and `VerifyAll` acts on setups.

[code]

Thanks.

[2019-02-21 10:44] lepijohnny commented on #699
Sure, makes sense :+1:

[2019-02-21 18:57] #752 closed

[2019-02-22 17:02] johnthcall opened #757 "Modifying list in between mocked calls causes verifying to fail."
I noticed that when calling a mocked function that only a referenced to the variables at invocation time are cached. For a majority of objects it is clear that a deep copy cannot be made, however for lists and arrays I expected a copy to be made.

Here is a sample piece of code to demonstrate the issue.
[code]

My verifies for this might be.
[code]
However because the same reference is used for bo

[2019-02-22 21:50] lepijohnny commented on #757
Actually, it seems this one is exactly the same as #756

[2019-02-22 23:06] stakx commented on #757
First off, assuming that I am reading your code correctly, either your code or your verifications are incorrect: This code will call `myClass.myMethod` once with a list containing all three elements `"a"`, `"b"`, and `"c"`. Both of your verification steps would fail even if the requested change were implemented. So this is a rather bad example to base a change request on.

Second, why should colle

[2019-02-22 23:06] #757 closed

[2019-02-24 12:29] stakx commented on #703
Another similar case:

[code]

In the above example, the mock associated with the initial value of `mock.Object.X` keeps being tracked even though it becomes unreachable later when `mock.Object.X` is reset.

[2019-02-25 22:19] rickersilva opened #758 "nUnit / moq behaviour always returns false"
I'm new to unit testing with nUnit and Moq and have run into an issue seting behaviours for a method in a dbprovider.
I'm tryin to test a validation method that invokes an Exists method in ICoDbProvider. When false, the method throws an excpetion, and it is working nice. When true, the method should go ahead until the return true; statement at the end of the method.
This is the method tested:
[cod

[2019-02-25 22:32] stakx commented on #758
You already got an answer on Stack Overflow, which explains this. Calling `new AccionARealizarEntity(s1)` twice will give you two different objects, so in the *Watch* window you're making a call that has no corresponding setup.

Either:

 * Implement value equality semantics on your `AccionARealizarEntity` type (or turn it from a `class` to a `struct` to achieve the same thing), if appropriate.
 *

[2019-02-25 22:32] #758 closed

[2019-02-26 16:41] rickersilva commented on #758
sorry for the cross posting. I do think twice about it, but decided to post anyway. Thank you for your explanation. problem is solved.

[2019-02-26 18:15] stakx commented on #758
Good to hear you got your tests working!

[2019-02-27 07:07] #703 closed

[2019-02-27 09:25] MutatedTomato commented on #738
All test cases below allow you to click one the stacktrace to locate the exception quickly but not TestEventException. There is noise in the TestCallbackException but it is better than no information.

I cannot reproduce the problem of no automatic breaking on unhandled exceptions. Unfortunately, I am too busy to investigate now.

[code]

[2019-02-27 10:53] stakx commented on #738
Thanks for posting these tests, I'll check them out soon.

[2019-02-27 21:54] stakx commented on #738
@MutatedTomato - I see. I'd say we remove the catches and throws, just like you said in your initial post.

[code]

Feel free to send a PR if you wish. Seeing that you're currently busy, I'll take the liberty of making the changes if I don't hear from you during the next few days.

[2019-03-01 06:21] Prashantpola commented on #249
Is there any way to mock protected generic method of base class from which is calling from child.
I am calling base method from child class as below
this.ExecuteHttpPutCall<ClassT, ServiceResult<IEnumerable<string>>>(url, request,handler)

[2019-03-01 08:20] Prashantpola opened #763 "Mock protected generic method of base class, which is calling from child."
Is there any way to mock protected generic method of base class from which is calling from child.
I am calling base method from child class as below
this.ExecuteHttpPutCall<ClassT, ServiceResult<IEnumerable>>(url, request,handler)

[2019-03-01 08:55] stakx commented on #763
Hi @Prashantpola, this is the issue tracker for Moq development where we focus on bug reports, feature requests; that kind of thing. Beyond that, the Moq team's capacity to answer pure usage questions is limited. You'd be much better off asking usage questions e.g. on Stack Overflow, where your question will be seen by a lot more people.

That being said, one line of code taken out of context isn'

[2019-03-01 23:23] #763 closed

[2019-03-03 14:39] #699 closed

[2019-03-03 14:42] stakx commented on #699
@lepijohnny - Those bugs are gone now. I mentioned you in the changelog entry as you kindly provided a lot more test cases than I originally thought of; they've made it into the code base ([here](https://github.com/moq/moq4/blob/4e652a0ab3210d7b5794682a78198aa5cb2c7240/tests/Moq.Tests/VerifyFixture.cs#L1586-L1619)). Thanks for contributing those! :+1:

[2019-03-04 07:01] lepijohnny commented on #699
@stakx - I appreciate that! Great job btw! +1

[2019-03-04 20:07] stakx opened #770 "Re-deprecate `[Matcher]` attribute?"
More a note to myself than an actual issue:

In #732 I brought back the requirement that `[Matcher]` attributes must be placed on all matchers, including custom ones. This was done to fix a bug and to improve runtime efficiency (Moq being able to statically analyse argument expressions instead of having to compile & execute them.)

This was a good thought, but it also makes it impossible to put ar

[2019-03-04 23:01] stakx commented on #657
Note to self, now that #765 is merged, we might be able to proceed with this issue.

[2019-03-05 03:01] MutatedTomato commented on #738
Nice and thx. Please apply it yourself. Don't wait for me.

[2019-03-05 07:24] #738 closed

[2019-03-05 08:16] stakx opened #772 "Clean up XML documentation comments"
There have been some inaccuracies in the XML documentation comments for a long while, it would be nice to clean them up. This issue is a list to track those before they're forgotten again. Feel free to add anything to it that you find.

* [x] `Mocks` class in `src/Moq/Linq/Mocks.cs`:

   https://github.com/moq/moq4/blob/bb4142271cf67c9da2ddfc6e5b7395d529f3240e/src/Moq/Linq/Mocks.cs#L23-L25

   Thi

[2019-03-05 13:59] qbunia opened #773 "Mocking classes doesn`t work"
I cannot mock class because I got follow errors:

[code]

Moq: 4.10.1
CastleCore 4.3.1

[2019-03-05 14:30] stakx commented on #773
What does the class that you're trying to mock look like?

At first glance, that assembly version looks suspicious. Do you have any assembly binding redirects configured for `Castle.Core`?

[2019-03-05 17:52] stakx commented on #773
Yep, confirmed: Castle.Core 4.3.1 has an assembly version of 4.0.0.0, so your project appears to be misconfigured (e.g. with a bad assembly binding redirect in `App.config`), or you have a bad `Castle.Core` assembly lying around somewhere (check your project's `obj` and `bin` directories, and any relevant caches such as your GAC, NuGet package cache, package fallback folder, etc.).

However that m

[2019-03-05 17:52] #773 closed

[2019-03-05 21:04] qbunia commented on #773
Got this in my csproj.
[code]
My App.config is plain new and doesn`t have any binding redirect. The issue still occurs.

[2019-03-06 17:58] stakx commented on #740
Oh, it turns out you can already do `Mock.Of` + `MockBehavior.Strict`:

[code]

True, a more straightforward API might be nice... but at least it's possible.

[2019-03-07 14:06] deonclaassens commented on #773
stop

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: qbunia <notifications@github.com>
Sent: Tuesday, March 5, 2019 11:04:23 PM
To: moq/moq4
Cc: Subscribed
Subject: Re: [moq/moq4] Mocking classes doesn`t work (#773)

Got this in my csproj.

    <Reference Include="Castle.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=40

[2019-03-07 22:03] #166 closed

[2019-03-07 22:16] stakx commented on #166
@yordans - I have closed this issue because your test case is actually caused by a different problem. You manually set up the `fooMock` to return an sub-mock for `.EventOwner`. When the time comes to raise `.EventOwner.OwnerEvent`, Moq isn't smart enough to figure out that it could transition from `fooMock` to `eventOwnerMock` where the event sits. The reason is that a setup can be configured to r

[2019-03-09 23:55] #696 closed

[2019-03-09 23:55] stakx commented on #696
@idigra - I've been busy for the past 10 days or so rewriting portions of Moq that deal with `SetupSet`, `VerifySet`, and argument matchers. So this issue is finally fixed in the upcoming version 4.11.0.

I've come to agree with you. The single/last matcher and last parameter don't have any special meaning now, matchers are simply distributed over null/zero "holes" from left to right.

[2019-03-10 00:19] stakx commented on #430
The test cases [at the beginning of this issue](https://github.com/moq/moq4/issues/430#issue-246352773) reveal a regresion in current `HEAD`, more specifically `SetupSet`, `VerifySet` et al. (delegate-based methods) will no longer work for mock types that don't have a parameterless ctor. This should be fixed.

[2019-03-10 01:27] #430 closed

[2019-03-10 01:42] stakx commented on #110
After the recent merges, this might finally be fairly easy to fix.

[2019-03-10 09:38] #110 closed

[2019-03-10 09:40] #643 closed

[2019-03-10 09:40] stakx commented on #643
All done!

[2019-03-10 12:58] #742 closed

[2019-03-10 13:54] stakx commented on #630
.NET Standard 2.0 is in, however I've decided to drop .NET Standard 1.3. There doesn't appear to be much point in keeping it:

* Both .NET Core 1.0 and 1.1 will reach their End of Life in June.
* .NET Core 2.x are covered by the new `netstandard2.0` target.
* .NET Framework 4.5+ are covered by the existing `net45` target.
* Moq 4 doesn't run on any other platform, due to its dependency on System.R

[2019-03-10 14:23] #741 closed

[2019-03-10 19:06] #770 closed

[2019-03-10 19:09] stakx commented on #770
`MatcherAttribute` re-deprecated for the sole reason of not causing unnecessary breaking changes in the next release.

[2019-03-10 23:45] stakx commented on #711
The test mentioned in https://github.com/moq/moq4/issues/711#issuecomment-433226919 no longer reproduces this problem in [current `master`](https://github.com/moq/moq4/tree/2a61db9f2ec17d5d69c2466bf53899b77d5b5e2a), but this small change brings the problem back:

[code]

The problem occurs when `VerifyAll` fetches a list of all setups that are still active (i.e. haven't been overridden by later se

[2019-03-12 18:38] stakx commented on #343
It's been a while, and I might be missing the obvious, but I am no longer sure I understand why we need this feature in the first place. Moq already matches generic type arguments by assignment compatibility (as opposed to precise equality). That is, you can already do this:

[code]

How is that different than if you had specified `It.IsAnyType` or `It.IsAnySubTypeOf<Fruit>`? (The only difference,

[2019-03-28 13:41] oddbear commented on #343
Could it be scenarios with a return?

With your example then, only one of the Apples prints.
[code]

[2019-03-28 15:57] stakx commented on #343
@oddbear - That's baffling, thanks for posting this. I'll look into it.

[2019-03-28 21:34] michal-ciechan commented on #343
My reasoning was because I wanted to mock the generic variant including generic parameters without knowing the generic types upfront. It is for a helper library ([Moqqer](https://github.com/michal-ciechan/Moqqer)) I created which sets up mock methods recursively with opinionated defaults.

So yes as you mentioned, the point is to inspect what Generic Types/Arguments the method was called with, and

[2019-03-30 08:27] stakx commented on #343
Ah, another test case just came in that would also seem to profit from `It.IsAnyType`: #790.

[2019-04-01 11:14] BrunoJuchli opened #791 "Stackoverflow when setting up and calling object.Equals(object) on T : IEquatable<T>"
### Version
Moq 4.10.1
.Net Framework 4.7.2

### Description
performing `mocked.Equals(new object()` throws a `StackOverflowException`. Conditions:

- mocked imlements `IEquatable<T>` interface
- setup for `object.Equals(object)` done which references the mock

### Repro

Given the following class `Foo` which implements the `IEquatable<Foo>` interface:

    public class Foo : IEquatable<Foo>
    {

[2019-04-01 13:25] stakx commented on #791
Hi @BrunoJuchli, thanks for reporting. I'll take a closer look at this shortly to find out where Moq starts running in circles.

In theory, though, you shouldn't need such a setup at all:

Because Moq should provide exactly that behavior out of the box:

https://github.com/moq/moq4/blob/efaeafd3860880c17b3ca16a8f5f5e2a882c84e6/src/Moq/Interception/InterceptionAspects.cs#L37-L43

[2019-04-01 15:30] BrunoJuchli commented on #791
@stakx
Thanks. Note: using [windbg you can catch `StackoverflowException`](https://stackoverflow.com/questions/4733878/how-to-debug-a-stackoverflowexception-in-net/49882734#49882734).

I'll look into the default behavior. I was under the impression it wasn't actually working like that, but I' was probably mistaken - I'll check tomorrow! :-)

[2019-04-01 17:48] stakx commented on #791
@BrunoJuchli - you can reduce the repro code to the following three lines:

[code]

**TL;DR:** Moq tries to match the argument expression in the setup against the concrete argument; it basically performs a `object.Equals(mock.Object, A)` (with `A` = `new object()`),  which results in a call to `mock.Object.Equals(A)`. Since there's a setup for `mock.Object.Equals`, this kicks off infinite recursio

[2019-04-01 18:22] stakx commented on #791
Oh, It turns out that a very trivial fix is possible. We can just switch the order in which we pass the two objects to `object.Equals`.

[2019-04-01 19:00] BrunoJuchli commented on #791
@stakx
I agree. Thanks for taking the time!

[2019-04-01 19:00] #791 closed

[2019-04-01 23:15] #711 closed

[2019-04-02 08:14] stakx commented on #714
I think we might be able to solve this issue without too much of a breaking change by changing which expressions `MatcherFactory` evaluates eagerly, and for which ones it creates a `LazyEvalMatcher`.

Currently, Moq evaluates `MemberExpression`s (i.e. property accesses) eagerly. It evaluates `MethodCallExpression`s lazily (except for argument matchers like `It.IsAny`). What it doesn't consider at

[2019-04-02 13:23] amosonn opened #794 "`ReturnsAsync` support for `Task`"
Currently, all `ReturnsAsync` variants are `ReturnsAsync<TMock, TResult>`, which make the mock return a `Task<TResult>`. I would expect a `ReturnsAsync<TMock>` variant, which lets it return a `Task`, i.e. for methods `async Task ProcessAsync(..)`, we would have `mock.Setup(m => m.ProcessAsync(..)).ReturnsAsync()`. For `ThrowsAsync`, such a variant already exists.

[2019-04-02 13:49] stakx commented on #794
I might be missing the obvious, but what would be the benefit of that? When setting up methods returning a `Task`, what's keeping you from simply using `Returns`?

[code]

(Btw. if we added something at all, it should probably be a `CallbackAsync`, since `Task` methods don't truly produce a result value.)

[2019-04-03 06:39] kswider opened #795 "Setup sequence doesn't support ReturnsAsync with Func<>"
In SetupSequence there is an overload for Returns can that take Func<> as an argument, but there isn't such overload for ReturnsAsync.

I think that adding this overload to ReturnsAsync would be a nice enhancement.

[2019-04-03 09:47] amosonn commented on #794
This is mostly for ergonomics and readability. Sure, you could also always use `.Returns(async () => x)` instead of all of the other `.ReturnsAsync(x)` methods, and even `.Returns(async () => { throw Exception(); })` instead of `.ThrowsAsync<Exception>()`. But they exist because tests are more readable with them, and there's no reason for `Task` methods to be left out.

From my point of view, `Tas

[2019-04-03 10:07] stakx commented on #794
But you wouldn't do the same thing for regular non-async `void` methods, right?

[code]

That pattern doesn't make sense in the non-async case, and it also doesn't make sense in the async case.

[2019-04-03 19:53] #714 closed

[2019-04-03 19:55] stakx commented on #447
This cannot go further as long as AppVeyor doesn't support `.snupkg`. (While we could put portable PDBs in the main package, doing some still bears the risk of interfering with some users' tools if they're not perfectly up-to-date (e.g. VSTS), and it's safer putting them in a symbols package.)

[2019-04-04 11:40] stakx commented on #794
Related: #702.

[2019-04-04 13:13] amosonn commented on #794
Well, with a `void` method you don't need this, because just `Setup` without `Returns` will work. But for a `Task` (=`Task(void)`) it will break if you don't add `Returns(Task.CompletedTask)`, and `ReturnsAsync()` seems to be clearer.

[2019-04-04 15:10] stakx commented on #794
If this is in fact the scenario you're talking about, then this issue here is an exact duplicate of #702.

[2019-04-04 18:38] stakx commented on #795
Would you like to provide the implementation for it?

[2019-04-04 18:47] stakx commented on #794
I'm closing this issue. `ReturnsAsync` for methods returning a `Task` doesn't make setups easier from a purely technical point of view, nor does it make sense semantically. Either use `.Returns(async () => ... )` (which achieves what you're after in a technical sense), or let's work toward `CallbackAsync(() => ...)` (which would be the semantically correct thing).

[2019-04-04 18:47] #794 closed

[2019-04-04 19:02] stakx commented on #702
After looking at #794 I believe we could resolve this issue here by adding a `.CallbackAsync` method for setups on methods that return a `Task`:

[code]

(I know, lots of `Async`/`async` everywhere. #384 might help with that.)

Under the hood, it might be implemented like a simple `.Returns`.

[2019-04-07 21:54] kswider commented on #795
Yea, I think I can make it :)

[2019-04-08 10:01] BrunoJuchli commented on #791
@stakx
I've now found out why I've done `foo.Setup(x => x.Equals((object)foo.Object)).Returns(true);`:

As soon as the object-to-mock overrides the `object Equals(object)` method the default setup doesn't apply anymore:

    public class Foo
    {
         public override bool Equals(object obj) => true;
    }

    var foo = new Mock<Foo>();
    foo.Object.Equals(foo.Object); // returns false

whi

[2019-04-08 11:36] stakx commented on #791
I am wondering why does that call returns `false`. Seems to me that it shouldn't do that. `object.ReferenceEquals(foo.Object, foo.Object) == true`, and the Moq's default implementation for `Equals` should follow suit.

I suppose that by "specify something else", you mean (a) "override `Equals` in the mocked class", not (b) "setup the `Equals` method"?

Moq already deals with (b) by only providing

[2019-04-08 12:49] VladFasie commented on #795
could you please detail the requirements ?

[2019-04-08 13:04] stakx commented on #795
@VladFasie: The existing non-async method `ReturnsAsync(Func<T> valueFactory)` returns a value of type `T` that is equal to whatever `valueFactory()` returns. I'd assume the `.ReturnsAsync(Func<T> valueFactory)` to do the same, i.e. it should return a completed `[Value]Task<T>` whose `.Result` property equals the value produced by `valueFactory()`. Neither the result of that call nor the returned

[2019-04-08 13:23] BrunoJuchli commented on #791
I suspect that `IsObjectMethod(invocation.Method)` is returning false because the overriding method is not declared on typeof(object)?:

--------------

Yes, exactly.. I should have written "as soon as you override `Equals`".

I believe it would be quite strange, at least. On the other hand it would be safer because it would force the developer to consciously make a decision how object equality af

[2019-04-08 13:30] stakx commented on #791
I'll study your example later when I have a little more time. For now:

As do I. :wink:

I think we should start by fixing the recognition logic for the `object.Equals` method.

https://github.com/moq/moq4/blob/efaeafd3860880c17b3ca16a8f5f5e2a882c84e6/src/Moq/Interception/InterceptionAspects.cs#L101

This check might be missing a call to `.GetBaseDefinition()`. It just might work correctly if chan

[2019-04-08 14:29] VladFasie commented on #795
I can't make my branch public.

git push --set-upstream origin "#795"
remote: Permission to moq/moq4.git denied to VladFasie.
fatal: unable to access 'https://github.com/moq/moq4.git/': The requested URL returned error: 403

[2019-04-08 15:19] stakx commented on #795
@VladFasie - First, please coordinate your efforts with @kswider, as he stated above that he might be working on this as well. It would be a shame if both of you work on this separately, as I will only be able to merge the changes from one of you.

If @kswider is fine with *you* going ahead here, then please send a pull request (PR) via GitHub. That is:

1. Fork this repository to your own GitHub

[2019-04-08 16:12] kswider commented on #795
If @VladFasie has already finished fixing that issue I'm ok with that. I planned to do it today :)

[2019-04-09 07:10] stakx opened #802 "`mocked.Equals(mocked)` returns false by default if mocked class overrides `Equals`"
This is a follow-up to https://github.com/moq/moq4/issues/791#issuecomment-480829561.

In the absence of any setup for `Equals`, Moq currently (attempts to) provide a default implementation that performs reference equality (as is the default in .NET for reference types). @BrunoJuchli discovered that when a mocked type overrides `object.Equals`, but does *not* provide a setup for it, then that defa

[2019-04-09 07:20] stakx commented on #791
@BrunoJuchli, I've opened a new issue (#802) regarding the misbehavior of `object.Equals`.

I've found a unit test that underlines the above: If a mocked class overrides `object.Equals`, then Moq already should default to using that instead of overriding it with a reference equality check:

https://github.com/moq/moq4/blob/bf19ad64540b9e3e71b8a869b2b1ab204ff1dbcb/tests/Moq.Tests/MockFixture.cs#L39

[2019-04-09 09:39] BrunoJuchli commented on #802
@stakx
Thanks a lot!
Please note that for us this is not a big issue. We only override Equals when we also implement `IEquatable<T>` - which we setup in this case anyway. So we wrote an extension method `.SetupEqualsSelf()` which - for now - setups both `object.Equals(object)` and `T.Equals(T)`.

Thus, "fixing" the behavior means we'd get to remove a single line from that extension method.

So abs

[2019-04-09 09:52] stakx commented on #802
Glad to hear that this isn't blocking you. But I'll still look into a bugfix.

<sub>(Off-topic rumination: I had been thinking about a potential new feature for Moq that would give users the ability to register default implementations for whole interfaces. I was originally considering this in the context of people mocking Entity Framework `DbContext` and `DbSet`, and often getting it wrong due to

[2019-04-09 20:36] thulani-chivandikwa opened #804 "InSequence only works with MockBehavior.Strict and exception thrown is misleading"
InSequence only works with MockBehavior.Strict (or I am failing to get it to work in Loose). When this works however the exception thrown is misleading.

Example:

[code]

Exception says:

I would expect the exception to indicate that the invocation was not done in the correct order. Additionally I do not see why this only works with MockBehavior.Strict.

[2019-04-09 20:42] stakx commented on #802
There are three unit tests for `object.ToString()` which are very relevant here, and make me suspect that it might be best to keep the status quo unchanged.

<details>
<summary>(Click to expand and see the unit tests.)</summary>

https://github.com/moq/moq4/blob/bf19ad64540b9e3e71b8a869b2b1ab204ff1dbcb/tests/Moq.Tests/MockFixture.cs#L73-L78

https://github.com/moq/moq4/blob/bf19ad64540b9e3e71b8a86

[2019-04-09 21:05] stakx commented on #804
This sets up the mock to expect two calls to `A`, then `B` (in that order).

### When the mock is a strict mock:

You're calling `B()` first, but that does not match what the sequence setups expects at this time (it expects a call to `A()`). Therefore the sequence setup is not matched at all. Moq goes on looking for another setup that might match this call to `B()`, and doesn't find one. So it com

[2019-04-10 06:32] thulani-chivandikwa commented on #804
Thanks for the detailed response @stakx, I do know now how this works behind the scenes. The last part in did as you mentioned is not intuitive but also understandable that in the short term this may not be actioned.

[2019-04-10 07:43] BrunoJuchli commented on #802
@stakx
Thanks for looking into this and explaining it to us in that level of detail.

Generally I completely agree with you - with a twist.

Nitpickers Corner
----------

IMO it's not "a default implementation *very close* to" but rather it's 100% identical. It might seem like nitpicking but I think it's relevant.

The Twist
---------
What's the reason to have loose mocks? We don't want to *have*

[2019-04-10 20:42] mattdeckard commented on #795
I ran into this just yesterday and would love to see it added. In addition, there doesn't seem to be any way of accessing the arguments within the version of `Returns()` that takes a `Func<>`. Was that intentional or another oversight that could potentially be added along with this?

[2019-04-11 06:25] stakx commented on #795
Moq's API today is mostly driven by the community's needs, so it is not so much an oversight, but more that noone asked for nor implemented this.

Making these additions would certainly be possible.

(I personally think the whole `SetupSequence` API shouldn't expanded much further, initially it was probably meant as a simple helper that spared you the work of setting up a callback with a state mac

[2019-04-11 08:36] VladFasie commented on #795
I hope I will manage to come with a push in weekend

[2019-04-12 16:31] stakx opened #805 "`Times.Equals` is implemented incorrectly"
### Reproduction code:

[code]

### Actual behavior:

The first assertion passes, but the second one fails.

### Expected behavior:

Either both assertions should fail (meaning that the kind of `Times` being compared matters), or both should pass (meaning that only the effective lower and upper bounds matter).

`Times` is currently implemented in a way that leans towards the latter.

[2019-04-12 16:42] #805 closed

[2019-04-12 18:29] andrewtheart commented on #710
I am still getting an error message

"System.TypeLoadException: 'Could not load type 'Microsoft.AspNetCore.Razor.Parser.ParserBase' from assembly 'Microsoft.AspNetCore.Razor, Version=2.2.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'.'"

I included all of the following packages:

Microsoft.AspNetCore.Razor
Microsoft.AspNetCore.Razor.Runtime
RazorEngine
System.Configuration.ConfigurationMan

[2019-04-12 21:49] maxkagamine opened #807 "Requesting permission to publish as Moq.HttpClient"
I created a library a while back that adds extension methods to assist in mocking HttpClient: https://github.com/maxkagamine/Moq.HttpClient

I'd like to publish this as Moq.HttpClient so my name isn't plastered on the namespace anymore (unlisting the one I published), but it looks like NuGet now has the "Moq" prefix reserved for one of your accounts. If I try to upload, I get:

Would you be willin

[2019-04-12 22:55] stakx commented on #807
@kzu, can you answer this one?

@maxkagamine, @kzu (the owner of this project) is managing the NuGet account. Not sure, but he might have registered a contrib package namespace?

[2019-04-12 23:29] kzu commented on #807
Indeed, community packages should be named Moq.Contrib.*

[2019-04-13 14:23] maxkagamine commented on #807
Wasn't aware of that, apologies. I renamed everything and [was able to upload successfully](https://www.nuget.org/packages/Moq.Contrib.HttpClient/). Will go ahead and close this. Thanks guys!

[2019-04-13 14:23] #807 closed

[2019-04-15 13:22] wholegroup opened #808 "`in` string parameter verifying doesn't work in some cases"
moq 4.10.1

[code]

[2019-04-15 14:55] stakx commented on #808
Why are you passing `string` using `in`? `System.String` is already a reference type, and as such will be passed by-reference anyway.

[2019-04-15 15:53] wholegroup commented on #808
@stakx
I use `in` modifier to mark variables as immutable. It's kind of `final` in Java. Microsoft calls this 'readonly references'.

[2019-04-15 17:44] stakx commented on #808
`in` was introduced to be used mostly in conjunction with *value types*.
Of course it's your decision to use it however you want. Just be aware that Moq has certain rules when it comes to matching by-ref arguments (which align more with how by-ref parameters are *typically* employed), which you'll need to follow if you want to continue using `in` your way.

[2019-04-15 17:44] #808 closed

[2019-04-16 06:03] wholegroup commented on #808
@stakx

Thank you for your help and fast response! I definitely used `in` in the wrong way.

[2019-04-16 07:48] stakx commented on #808
Glad I could help. 😃

[2019-04-16 14:32] vgriph opened #809 "Castle.DynamicProxy.InvalidProxyConstructorArgumentsException when attempting to Setup or Verify based on a value returned from a mocked property"
Moq version: 4.10.1
When using a property from a mocked object as parameter to the expression passed to a Setup() or Verify() and the type of that property is missing a default constructor, an Castle.DynamicProxy.InvalidProxyConstructorArgumentsException is thrown.

It works if using an expression to read the value, or storing the value in a temporary variable, but not by using it directly from th

[2019-04-16 21:29] stakx commented on #809
@vgriph, thanks for taking the time to report this. That usage scenario is already fixed in the current `master` branch by the work done in #767 and #782. Please feel free to submit a PR to add your above tests to the regression tests (in `tests/Moq.Tests/Regressions/IssueReportsFixture.cs`)!

[2019-04-17 14:16] jacob-ewald opened #810 "ToString() on SetupPhrase does not return expression"
We have a unit test that verifies the message we receive when a sequenced setup is not run, but with version 4.10+ the message is no longer displaying the expression. Instead, it displays the full name of the type and method, which is the default `ToString()` output. I originally thought this may be an issue with Moq.Sequences, however it seems to be originating inside Moq.

To reproduce the issue

[2019-04-17 17:36] stakx commented on #810
@jacob-ewald: Sounds like a reasonable enhancement! I suppose it would make sense for all fluent API types' `ToString` methods to simply delegate to the `ToString` method of the setup that they're wrapping. Your PR would be welcome. It'd be great if you could make the change for all `...Phrase` classes.

[2019-04-17 20:38] jacob-ewald commented on #810
Thanks @stakx. I created PR #812. I did _not_ add handling for `WhenPhrase` because that works on `Func<bool>`, which doesn't play nicely with the `ExpressionStringBuilder`.

[2019-04-18 15:34] #810 closed

[2019-04-18 20:33] stakx commented on #804
Closing this in favour of #75, which is already a little further ahead with some concrete proposals on how Moq sequences could be improved.

[2019-04-18 20:33] #804 closed

[2019-04-19 07:40] #809 closed

[2019-04-19 09:48] stakx commented on #166
Resolved in 4.11.0-rc1.

[2019-04-19 09:49] stakx opened #815 "Moq pre-release version 4.11.0-rc1"
Moq pre-release version 4.11.0-rc1 is now available on NuGet. I am pinging everyone who has contributed to this version, in case you want to run some tests and verify that everything is working as expected.

If no regressions get reported, I will publish 4.11.0 proper in a few weeks' time.

/cc @jacob-ewald, @mosentok, @aeslinger0, @MichaelSagalovich, @icenine457, @jamesfoster, @idigra, @MutatedTo

[2019-04-19 10:07] Stannieman commented on #49
I agree that "is an event attached or detached" can be checked in other ways, but most of the times this is not convenient and also it blocks VerifyNoOtherCalls.
Cause VerifyNoOtherCalls DOES complain that something happened to the property, yet there's no way to make it ignore the events.

[2019-04-19 10:29] stakx commented on #49
@Stannieman: Agreed, the whole event story is a little unsatisfactory at the moment.

I've recently refactored Moq internals to make delegate-based setup/verification expressions easier to deal with (`mock => mock.Event += null` falls into that category), so it should now be a lot easier to add new `SetupAdd`, `SetupRemove`, `VerifyAdd` and `VerifyRemove` methods. (It'll still be important to ensu

[2019-04-19 10:45] Stannieman commented on #49
Maybe in a couple of weeks I'll have time to look into it :) Though I don't know the code base so it'll be baby steps.

[2019-04-19 10:52] stakx commented on #49
Baby steps are no problem at all. If you are interested in getting involved, there'll be a way. In the meantime, you can keep an eye on #693.

[2019-04-19 12:22] Shereef commented on #815
Thanks for the ping!

[2019-04-22 10:42] lepijohnny commented on #815
I have verified the changes I introduced, everything as expected. :clap: to @stakx and all other contributors.

[2019-04-24 19:15] lepijohnny commented on #657
I might have a really simple solution for this problem, I will try to come with the good test cases to verify it, but actually, the proposal is to change the following:

https://github.com/moq/moq4/blob/master/src/Moq/InvocationShape.cs#L89

`if (!method.DeclaringType.IsAssignableFrom(invocationMethod.DeclaringType))`

to

`if (!invocationMethod.DeclaringType.IsAssignableFrom(method.DeclaringType)

[2019-04-30 12:52] Llujoo opened #821 "Setup with interpolated strings"
The following code does not work
`
moq.Setup(m => m.Get("something[{i}].Name")).Returns($"foo {i}");
`
I had to use this instead.
`
moq.Setup(m => m.Get("something[" + i + "].Name")).Returns($"foo {i}");
`

[2019-04-30 17:09] stakx commented on #821
Are you sure you didn't just miss a `$` (see above, you have a regular `"..."` string instead of `$"..."` so obviously interpolation wouldn't happen).

[2019-04-30 17:23] stakx commented on #821
The above being said, yes, it seems entirely likely that the workaround might still be needed since you're in an expression tree context. Generally speaking, you shouldn't be including computations in setup expressions that aren't necessary / strictly relevant for that setup.

[2019-04-30 17:23] #821 closed

[2019-05-01 06:42] stakx commented on #821
Yes, `m.Get($"something[{i}].Name")` is really equivalent to `m.Get(string.Format("something[{0}].Name", i))`. Unlike `m.Get("something[" + i + "].Name")`, the former will be lazily evaluated because it involves a function call as the argument. While using `$"..."` string interpolation should be supported, it'll lead to lazy evaluation, so if `i` is an iteration variable, for example, by the time

[2019-05-02 06:52] Llujoo commented on #821
Interesting. Thank you for your response.

[2019-05-03 08:40] Anthony-Breneliere opened #822 "How to mock an interface that is serialized by Newtonsoft.json ?"
I mock an interface from which the object is serialized by the tested code by the Newtonsoft JsonConvert.SerializeObject.

The serializer throws an exception with the following error:

Newtonsoft.Json.JsonSerializationException : Self referencing loop detected for property 'Object' with type 'Castle.Proxies.IActionProxy'. Path 'Mock'.

Newtonsoft tries to to serialized the proxy object IActionProx

[2019-05-03 12:07] stakx commented on #822
@Anthony-Breneliere, please post a minimally complete code example that reproduces the issue you're describing.

[2019-05-03 13:34] Anthony-Breneliere commented on #822
Of course, here is a sample:
[code]

[2019-05-07 11:28] vanashimko commented on #740
@stakx looks like in current implementation of LINQ to Mocks `SetupAllProperties` is mandatory, since during building setups some invocations on a mock are performed. I've found it in a TODO in `Linq\Mock.cs`: `TODO: Make LINQ to Mocks set up mocks without causing invocations of its own, then remove this hack.`. The TODO is related to a code nearby, which performs cleanup of invocations before ret

[2019-05-07 14:35] stakx commented on #740
@vanashimko, your analysis is correct, I think you understand now why nothing has happened yet. The combination of `SetupAllProperties` + strict mock doesn't make any sense, `Mock.Of` for a strict mock would have to be reimplemented in a way that does not rely on `SetupAllProperties` at all. It's possible, but probably non-trivial.

While the idea to "flag" property setups for later easy removal p

[2019-05-07 15:44] stakx opened #823 "Regression in 4.11.0-rc1: Unhelpful exception message with SetupProperty"
### Reproduction code:

[code]

### Actual behavior:

In 4.11.0-rc1, the call to `SetupProperty` will raise an `ArgumentException` with the following nonsensical message:

### Expected behavior:

The exception should include a more helpful exception message, like in 4.10.1:

[2019-05-07 16:12] #823 closed

[2019-05-07 16:35] stakx commented on #822
I cannot reproduce the issue you're reporting. I am running the following program using Moq 4.10.1 and Newtonsoft.Json 12.0.2 (and I've even tried with all major versions down to 6.x).

[code]

Output:

[code]

Incidentally, the above output shows that serializing a mock probably won't do what you wanted it to do. Allow me a few remarks:

* I am not certain whether attempting to serialize an inter

[2019-05-07 17:56] vanashimko commented on #740
@stakx thanks for clarification, I see your point.

It seems to be that the problem of `SetupAllProperties` being called for Strict repositories too causing side effect of "non-strictness" is a different issue. So it can be fixed aside from the change described in this topic. I can open a new issue based on the information you provided here, if you OK with it. Also it appears that fix of the issue

[2019-05-07 19:14] stakx commented on #740
We already have this issue. Do we really need another for discussing the same thing? (Or did you mean a new issue re: `SetupAllProperties` being a performance bottleneck?)

I don't think implementing a half-way solution would be a good idea. Once we add the new API with `SetupAllProperties` still in place, even for strict mocks, we will no longer be able to later implement the API more reasonably,

[2019-05-07 19:59] vanashimko commented on #740
@stakx yep, I suppose implementing a mechanism of on-demand setups you described can go independent from the issue discussing here. After that it can be possible, I think, to add this new API and make it consistent with MockRepository (which means removing SetupAllProperties for strict mocks in repository). Maybe it also means that this issue should be marked somehow, that it depends on another on

[2019-05-07 21:54] Anthony-Breneliere commented on #822
I tried your example with same version (moq 4.10.1 and Newtonsoft.Json 12.0.2).

There is no issue with a Framework .NET 4.7.2 Console App, but I reproduce the bug with .Net Core 2.2 (same Console App)!

For your questions: I just use a library for what it does and that is a kind of project you wouldn't want to depend on it. I did not code it and I don't know why it is serialized, maybe just logs.

[2019-05-07 22:06] stakx commented on #822
OK, since you don't actually care about the serialization itself, and just want to get things to execute without an error, I suggest you try the following change:

[code]

Letting your mock implement `ISerializable` (as a no-op) appears to quiet down Newtonsoft.Json.

Beyond that, I'd say the problem here lies with more with Newtonsoft.Json than with Moq, since Newtonsoft.Json obviously functions

[2019-05-07 22:06] #822 closed

[2019-05-08 09:46] stakx commented on #795
@kswider: @VladFasie closed his PR a moment ago. If you'd still like to proceed with this issue and submit your own, please feel free to go ahead.

[2019-05-08 20:11] hughbe opened #825 "Need a way to verify that code added an event handler to an event"
E.g. I have the product code

[code]

I need to verify that we called `+=`

[2019-05-08 20:22] stakx commented on #825
... and you're not the first. Someone will have to implement this feature or it's not going to happen...

[2019-05-10 16:39] baoshenyi opened #827 "Targeting Framework Missing / Empty Visual Studio 2017"
![Moq4 10 1](https://user-images.githubusercontent.com/9803653/57542684-94d1ec80-730f-11e9-8aed-85fd8b64d8c1.png)

Targeting Framework Missing / Empty Visual Studio 2017 and I download this version, which it works on my project with nuget package.
https://github.com/moq/moq4/releases/tag/v4.10.1

Thanks,

Shenyi

[2019-05-10 19:37] stakx commented on #827
That's because Moq targets several different platforms. Visual Studio doesn't show anything in that combo-box in such cases, nothing we can do about that. Please file a report with the Visual Studio team if this bothers you. :-)

[2019-05-10 19:37] #827 closed

[2019-05-12 09:50] connywesth opened #828 "Repos\moq4\tests\Moq.Tests\MatchExpressionFixture.cs:row 21"
This is an errormessage I got out-of-the-box when i run run moq.tests in Visual Studio Community 2017. I have just downloaded the latest version from GitHub (May 12, 2019).
![MoqErroeSnapShot](https://user-images.githubusercontent.com/3123534/57580601-05157500-74ac-11e9-9d3b-146c2a291403.JPG)

ERROR MESSAGE (Some phrases translated from Swedish to English for clarity):
Test Name:	Moq.Tests.MatchEx

[2019-05-12 14:13] stakx commented on #828
Unfortunately, this obscures the precise cause of the error you're reporting:

Was the last line translated by you? What was the original error message?

If the error is caused by a Swedish installation of .NET, which reports errors in the Swedish language, do you have any suggestions how to deal with this error source in general (other than simply not testing the messages at all)?

[2019-05-13 19:43] lepijohnny commented on #657
I thought once again about this one and instead of doing all kind of checks if the method is explicitly implemented, which introduce some performance penalties, it might be enough just to check something like this bellow(before [line](https://github.com/moq/moq4/blob/master/src/Moq/InvocationShape.cs#L89)):

[code]
where `LooksLikeInterfaceImplementation` is:

[code]

In essence `IsOverride` check

[2019-05-14 20:06] wessiyad opened #829 "System.NotSupportedException : Cannot create boxed ByRef-like values."
Trying to test code that uses a service that returns `ReadOnlySpan<char>` doesn't seem possible.

Using Moq Version 4.10.1

I've created a repo that reproduces the issue - https://github.com/wessiyad/moq-readonlyspan-issue

[code]

[code]

Expected outcome is that I'm able to mock the method.  When I discovered this I was simply trying to verify if the method was called or not, but I could see mor

[2019-05-14 21:10] baoshenyi commented on #827
Thank you, Stakx. Do you have which moq and smocks version works with .net framework 4.6.2? Thanks again. Shenyi

[2019-05-14 21:25] stakx commented on #827
See the "Dependencies" section on the NuGet package page for Moq: https://www.nuget.org/packages/Moq.

Unless you're using an ancient version of Moq, .NET 4.6.2 will be supported (regardless of whether VS presents you an empty target framework combo-box or not).

[2019-05-14 21:30] baoshenyi commented on #827
I am using Moq 4.10.1, Smocks 0.7.3 that works well on my machine (has following .net core installed), but my coworker had issues with build so I like to double check it with you. In case, moq requires some .net core sdk which may not be installed on his machine.

C:\Users\Shenyi.bao>dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   2.2.105
 Commit:    7cecb35b92

Runtime Envir

[2019-05-14 21:37] stakx commented on #827
Just take a look at the `<TargetFramework>` or `<TargetFrameworks>` elements of the various `.csproj` files, that'll tell you exactly which frameworks are targeted and therefore which .NET Core SDKs / .NET Framework targeting packs you need to have installed.

[2019-05-15 06:22] stakx commented on #829
Hi @wessiyad, thanks for reporting. At first glance, it looks like this is a limitation of `Activator.CreateInstance`, meaning that there is probably nothing we can do inside Moq to get this use case working.

[2019-05-15 06:42] stakx commented on #829
Indeed, your repro code can be shortened to the following one-liner:

[code]

And I'm sorry to say that there's nothing we can do to work around this runtime / framework limitation. Moq won't be able to create a default return value for your interface method due to that.

`ReadOnlySpan<T>` is a `ref struct` (i.e. a stack-only type) and therefore cannot be boxed (i.e. wrapped in an object that live

[2019-05-15 06:42] #829 closed

[2019-05-20 20:53] BenCoden commented on #795
Is there a workaround?
And @kswider are you making a PR?

[2019-05-21 07:00] acesiddhu opened #830 "Mock.Object is slow for some types"
Hi Team

we are using Mock in our code base and we have noticed that Mock.Object call is slow for certain types. I have created a repro the issue here https://github.com/acesiddhu/MockHttpClients
Do we know why the call is slow? any thing we can do on our side to fix this issue?

[2019-05-22 12:56] dezsiszabi opened #831 "Question about order of Setup"
I have a question about the significance of the order of the `Setup` statements.

I was converting a large amount of tests (~3000) from Rhino Mocks to Moq and some of my tests were failing because of the following behavior.

    public interface IFoo
    {
        int Test(string value, string valueTwo);
    }

    var mock = new Mock<IFoo>();
    mock.Setup(foo => foo.Test(Moq.It.IsAny<string>(),

[2019-05-22 17:41] stakx commented on #831
That's generally a good rule of thumb to follow. Later setups always take preference over earlier ones, and that is definitely the intended behavior of Moq (even if it isn't explicitly documented).

[2019-05-22 17:41] #831 closed

[2019-05-22 17:45] stakx commented on #830
@acesiddhu: The speed of accessing `mock.Object` for the first time for a given `mock` instance is mostly determined by the work done by the proxy library used (Castle DynamicProxy). Creating a proxy type will take longer the more members the mocked type has.

Will look at your repo at a later time but chances are there's generally not much you can do about perf.

[2019-05-23 12:26] dezsiszabi commented on #831
Thank you.
I might have some other questions as well, so please bear with me. This is about setting `out` parameters.

In the quickstart guide this is the example for this:

    // out arguments
    var outString = "ack";
    // TryParse will return true, and the out argument will return "ack", lazy evaluated
    mock.Setup(foo => foo.TryParse("ping", out outString)).Returns(true);

Is it possible

[2019-05-23 15:25] stakx commented on #831
Just use a C# discard (`out _`).

[2019-05-24 04:16] acesiddhu commented on #830
@stakx sure let me know. if there are any workaround we can try please suggest those as well

[2019-05-24 19:53] stakx commented on #830
OK, judging from your repo, it seems that you have already figured out that `new Mock<T>(...)` is faster than `Mock.Of`.

You might already have noticed that `SetupAllProperties` isn't very fast (and it's called by `Mock.Of` behind the scenes).

If you want to increase mocking speed, you could define role interfaces for the capabilities used in e.g. `GitHttpClient`, and use dependency injection in

[2019-05-27 15:50] stakx commented on #828
Closing to due lack of a response.

[2019-05-27 15:50] #828 closed

[2019-05-27 15:51] #830 closed

[2019-05-27 21:57] #447 closed

[2019-05-27 22:54] stakx commented on #815
Moq 4.11.0 proper is now available on NuGet.

[2019-05-27 22:54] #815 closed

[2019-05-28 13:41] mu88 opened #833 "Provide fluent interface"
It would be great if we could write something like the following:
[code]

[2019-05-28 16:02] stakx commented on #833
I somewhat agree, but on the downside this would require that we pollute the whole fluent API with `.Setup()` verbs at every step along the way. Not sure *that*'s such a good idea. Also, it'll make it less clear when the fluent API is configuring a setup, and when it's configuring the mock. Mainly for that last reason, I think it's better to keep the fluent API simple & focused on configuring a si

[2019-05-28 16:11] Serg046 commented on #567
The same issue with Moq.4.11.0, TC server and console runner. I fixed it by downgrading but I'll try to upgrade a proj file later too

[2019-05-29 06:00] omerlh opened #834 "Moq counts multiple invocations although there is one when using capture"
I used moq to mock an object and assert it is called only once. For some reason, moq claims there are 2 invocations although there is only one.
This is the relevant part of my code:
[code]
`mOpenPolicyAgent` is the mocked object. When debugging it, I noticed that before the line starting with `mLogger` there is only one invocation - but after this line there are 2.
This is the relevant part from m

[2019-05-29 06:25] stakx commented on #834
@omerlh, could you derive a minimally complete & standalone code example from your code that we can run to reproduce this issue?

In short, no, `Capture.In` should not cause double invocations, so this might be a bug (either in your code, or in Moq).

[2019-05-30 11:37] stakx commented on #833
Hi @mu88, thanks for your suggestion. As this would be a fairly fundamental change to Moq's fluent API, we'll have to check with @kzu whether this would also stand a chance of being included in the upcoming Moq v5. (It would be a pity to do all the work to add it in v4 only to once again have it lacking in v5.)

My initial reaction here is somewhat ambivalent:

* From a user perspective, this woul

[2019-05-30 12:09] kzu commented on #833
If all you're doing are Setup...Returns, you could just use Linq to Mocks instead:

[code]

[2019-06-01 08:56] vanashimko opened #835 "SetupAllProperties does not setup write-only properties"
Opening a new issue as per https://github.com/moq/moq4/pull/826#discussion_r288929791.

**Steps to reproduce**
[code]

**Expected behavior**
Test is passed, writing to Test property is ignored.

**Actual behavior**
Exception is thrown:
[code]

[2019-06-01 11:02] stakx commented on #740
Thanks to #826, it should now be possible to implement `Mock.Of<T>` with `MockBehavior.Strict` fairly easily; if I'm not mistaken, simply by setting `mock.Behavior = MockBehavior.Strict` and `mock.AutoSetupPropertiesDefaultValueProvider = null` as the very last steps before returning the set up mocked object to the user.

[2019-06-01 11:05] stakx commented on #835
Assuming that changing the current behavior won't break any existing tests, I'm all for fixing this. Please feel free to submit a PR.

[2019-06-01 14:41] stakx opened #837 "`SetupAllProperties` no longer overrides pre-existing property setups"
After #826, `mock.SetupAllProperties()` no longer overrides pre-existing property setups, as it would have up until 4.11.0.

#### Steps to reproduce:

[code]

#### Actual behavior (output):

[code]

#### Expected behavior (output):

[code]

#### Notes:

According to the reasoning I used in https://github.com/moq/moq4/issues/196#issuecomment-312506229:

... this qualifies as a regression / bug, esp

[2019-06-01 16:51] vanashimko commented on #837
Ah, and still I broke something! Disappointed but not surprised 😄

How about removing all property accessors setups inside `SetupAllProperties` call? I've had a brief look at `SetupCollection`, at the moment it is not allowed to remove from there, but if you ok to allow it, `Remove(Func<Setup, bool> predicate)` can be added. This method will do `lock`, remove from list and update this `overridden`

[2019-06-01 17:48] stakx commented on #837
Don't worry, that's no fault of yours. And no harm has been done. :)

Good idea! I hadn't thought of that, but this should work.

In principle, that would be OK, although I had hoped to keep it strictly add-or-clear-only (as that would in principle allow concurrency optimizations similar to those found in `InvocationCollection`)... but that's not a big priority. Functional correctness is more impo

[2019-06-01 17:52] #835 closed

[2019-06-01 19:40] vanashimko commented on #837
Good news on `overridden`! Setting to zero is what I would definitely prefer to do instead of bit manipulations 😄

I'm afraid that looking for `AutoImplementedProperty[GS]etterSetup` won't be enough if the goal is to keep old behavior.

Earlier you could also do:

[code]

Even though we can filter against `method.IsPropertyAccessor()` to get all properties related setups, we'll probably had to rem

[2019-06-01 21:37] stakx commented on #837
... and you're right!

I don't think I can come up with an alternative solution that beats your proposal in terms of simplicity and correctness, so if you're interested to work on this, another PR would be welcome!

[2019-06-02 04:59] TsuyoshiUshio opened #839 "Can not mock the method with several overloads."
Hello,

I'm encounter the issue that I can't mock a method.

It has a abstract class with these methods.

[code]

I want to mock third one. So I create a mock setup like this.

[code]

It cases these errors. It looks the compiler misunderstand the target orverload.  Am I wrong? Any workaround here?

[code]

[2019-06-02 05:12] TsuyoshiUshio commented on #839
Sorry, It was my mistook. I forget It.IsAny<int?>() I mean ().

[2019-06-02 05:12] #839 closed

[2019-06-02 08:01] #837 closed

[2019-06-02 10:57] #795 closed

[2019-06-02 17:44] stakx commented on #740
@hughbe, @sharwell, @vanashimko, @JohanLarsson - A quick question about `MockBehavior.Strict` support in LINQ to Mocks: Do you have a preference regarding parameter order?:

* `Mock.Of<ITeacup>(m => m.Tea == "Earl Grey", MockBehavior.Strict)`
* `Mock.Of<ITeacup>(MockBehavior.Strict, m => m.Tea == "Earl Grey")`

[2019-06-02 19:22] stakx commented on #772
Typo in several LINQ to mocks methods: `an mock` &rarr; `a mock`

https://github.com/moq/moq4/blob/8eb41b38531b372a55c815b105bb4bd010d90e96/src/Moq/Linq/Mocks.cs#L44-L51

[2019-06-02 20:08] #740 closed

[2019-06-02 20:39] stakx commented on #772
* [ ] The XML documentation for `Mock<T>`'s `T` type parameter states that: _"Type to mock, which can be an interface or a class."_ which is incomplete. `T` can also be a delegate.

[2019-06-02 22:15] #772 closed

[2019-06-03 06:47] mu88 commented on #833
Thanks to the two of you for sharing your ideas :) I absolutely understand your concerns.

I didn't know about `Mock.Of<>()` and will take a closer look on it! Just two thoughts/observations about this:

- I tried to use it for an async method in the way of `Mock.Of<IMyType>(async x => await x.DoSomethingAsync() == new CustomResult())`, which cannot be compiled.
- At a first look, the usage of equ

[2019-06-03 08:06] stakx commented on #833
The C# compiler has some unfortunate limitations of what it can convert to LINQ expression trees. (See https://github.com/dotnet/csharplang/issues/158.)

You could work around it as follows:

[code]

It can be helpful to think about `Mock.Of<T>(expr)` in a declarative (rather than imperative) way: "Give me a mock that meets these conditions: \<expr\>."

[2019-06-05 16:23] stakx commented on #834
I'll be closing this issue in a few days. There's not much (nothing, actually) that can be done without repro code.

[2019-06-06 04:53] omerlh commented on #834
Hey, sorry - somehow missed you original response, my bad. It was something with references that screw this up. I'll close this issue now, thanks!

[2019-06-06 04:53] #834 closed

[2019-06-06 06:45] Mexe13 opened #845 "Breaking Change Moq 4.11 - SetupAllProperties() (includes Mock.Of<T>) fails in cases it didn't before"
Case:

    public class Foo {
         public virtual object Bar { get; internal set; }
    }

    Mock.Of<Foo>();

previously worked. Now it throws:

Can not create proxy for method Void set_Bar(Foo) because it or its declaring type is not accessible. Make it public, or internal and mark your assembly with [assembly: InternalsVisibleTo("DynamicProxyGenAssembly2")] attribute, because assembly Opc.

[2019-06-06 07:15] bash opened #846 "VerifyNoOtherCalls causes stack overflow when mock setup returns the mocked object (since 4.11)"
## MCVE
[code]

Result when running `dotnet test`:
[code]

## Workaround
Use a function to calculate the return value.

[code]

[2019-06-06 10:03] stakx commented on #845
Yes, I believe that's what should happen. Thanks for reporting this regression!

[2019-06-06 10:09] stakx commented on #846
Thanks for the bug report!

[2019-06-06 17:37] #845 closed

[2019-06-06 18:05] #846 closed

[2019-06-08 15:47] #702 closed

[2019-06-10 15:29] dezsiszabi commented on #831
I don't see the response here, although I did receive an e-mail notification:

I don't think that solves what I was asking.

1. discards cannot be used in expression trees (CS8207)
2. my previous post was about setting the out parameter values without a local variable.

[2019-06-10 16:46] stakx commented on #831
The reason you don't see that response here (anymore) is because I deleted it. If I had read your second post more carefully before posting it, I wouldn't have posted it in the first place as it's clear that you're definitely not looking for C# discards. :laughing:

Regarding your suggested feature, I don't think this needs to go into Moq. The fact that Moq actually *reads* an `out` parameter is a

[2019-06-11 02:07] kirinboy commented on #833
Could `Mock.Of<T>` have a fluent API? If I want to mock multiple properties or methods, it is not very clear to read and write.

[2019-06-11 07:10] stakx commented on #833
@kirinboy, a fluent API wouldn't work with `Mock.Of<T>` since it returns the mock object instance directly, which can have any type. Just use `&&` (as shown in an above post) to set up several members.

[2019-06-19 06:22] BrunoJuchli commented on #845
@stakx
Thanks a lot for taking the time to looking into the solution.

After updating to 4.11, it seems the solution is not resolved. The [`Issue845`](https://github.com/moq/moq4/pull/847/commits/027985fe3fed8dd6b9fe93a055acd80818b16a8a) tests fail. I couldn't run them from the moq solution directly *

* build error:

So I created a repro project with just the code from `Issue845` and a package re

[2019-06-19 06:32] BrunoJuchli commented on #845
Sorry for the previous comment, I was being stupid - didn't notice the fix hasn't been released yet and re-tested it against 4.11, again, and of course found it didn't work...

Thanks for taking the time to fix it!

[2019-06-20 08:52] stakx commented on #845
@BrunoJuchli, no worries. I've just released Moq 4.12.0, it should become available on NuGet.org in a few minutes.

[2019-06-20 19:27] stakx opened #850 "SetupAllProperties and SetupProperty behave differently with respect to verification"
#### Steps to reproduce:

[code]

#### Expected outcome:

Stubbed properties are excluded from verification, regardless of whether they were stubbed with `SetupAllProperties` or `SetupProperty`. (From a user's perspective, it likely wouldn't be very intuitive if there were a difference between these two, other than that the former method is the batch version of the latter.)

That is, both tests sh

[2019-06-21 11:17] Deathofdemigod opened #851 "Moq internal call list is mutable"
I expect internal call list to be immuteable and following example to work.

``
	<Project Sdk="Microsoft.NET.Sdk">

	  <PropertyGroup>
		<TargetFramework>netcoreapp2.2</TargetFramework>
	  </PropertyGroup>

	  <ItemGroup>
		<PackageReference Include="Microsoft.NET.Test.Sdk" Version="16.1.1" />
		<PackageReference Include="Microsoft.UnitTestFramework.Extensions" Version="2.0.0" />
		<PackageReferen

[2019-06-21 13:22] stakx commented on #851
If this issue is about the fact that Moq doesn't "snapshot" the exact state of reference-typed arguments, but only captures the object reference: You're not the first one to expect Moq to do just that, yet to implement this would be prohibitively expensive as it would require Moq to perform deep cloning of each and every argument. Even if we were going to do this, I'm not sure that it would even b

[2019-06-22 09:40] #851 closed

[2019-06-27 13:55] thomasfdm opened #852 "Improve "Member x does not exist" failure message"
Currently an `ArgumentException` is thrown when a `.Protected().Verify(methodName, times, arguments)` call is made when `arguments` doesn't match the arguments in methodName's signature which just states `System.ArgumentException : Member Class.Method does not exist.`.

For example, if mocking a HttpMessageHandler you would use the following code to check if SendAsync was called with any (correct

[2019-06-27 14:40] stakx commented on #852
@thomasfdm, not sure how often people run into this problem, but having good diagnostic messages can't hurt. Would you like to submit a PR?

[2019-06-30 13:00] AndiKleini opened #853 "Usage of Nunit SameAsConstraint (Is.SameAs(...)) in mock verification leads to incorrect result"
By checking equality of references, I faced a problem when I used NUnit SameAsConstraint (Is.SameAs(...)) in mocks verification method. The assertion evaluates to false, although both references are equal. By switching from NUnit SameAsConstraint to a direct comparison (e.g.: It.Is<object>(input => input.Equals(sameReferenceAsInput)) performs flawless.
I created a small example to reproduce the is

[2019-06-30 18:59] stakx commented on #853
I haven't tested your, but I assume that the problem is that you are attempting to use NUnit's `Is.SameAs(obj)` like a Moq argument matcher when it isn't one. So what's likely happening is that Moq will match the actual recorded argument value (an instance of `SomeService`) against the value produced by invoking `Is.SameAs(obj)` (an instance of `SameAsConstraint`).

You *could* wrap NUnit constrai

[2019-06-30 19:04] AndiKleini commented on #853
Thanks a lot for your quick reply. This was a misunderstanding on my side. I will close the issue.

[2019-06-30 19:04] #853 closed

[2019-06-30 19:11] stakx commented on #853
No worries, glad I could help.

[2019-07-02 19:01] basprins opened #855 "System.Threading.Tasks.Dataflow FileLoadException"
Hi,

I am stuck with an issue in our build which I can't seem to resolve, and I am not sure which library is causing the issue; Moq or Workstation.UaClient.

A little backgroud:
We use two libraries (among many many others) in our solution:
- Workstation.UaClient (opcua stack), which depends on >= System.Threading.Tasks.Dataflow 4.8.0
- System.Threading.Tasks.Dataflow 4.9.0

In essence that should

[2019-07-02 19:53] basprins commented on #855
Ps: maybe not entirely clear from my initial issue description, but we have a hard dependency on Dataflow 4.9.0. I know this issue is resolved by using Dataflow 4.8.0, but that's not an option for us.

[2019-07-02 20:26] stakx commented on #855
Can you please post a minimal, complete and verifiable code example that reproduces this problem? At the very least, please post a complete definition of `IWhatever` (including any `using` directives necessary to show where its members' types are defined).

Without a repro, I can only guess. My guess would be that your `IWhatever` type directly or indirectly depends on a type that DynamicProxy fai

[2019-07-04 21:14] stakx commented on #855
Apologies, I overlooked the link to your repository. I've posted an "answer" there in the form of a PR. I cannot reproduce the problem you mentioned, and I am fairly confident this is (as almost always in such cases) due to .NET / NuGet tooling. I'll close this issue here, in favor of the PR at your repo.

[2019-07-04 21:14] #855 closed

[2019-07-05 14:42] patchmeifyoucan opened #856 "Allow specifying action if setup was not met in strict mode"
Let's say I try to set up a Mock to behave like a database. For this, I have a simple list with three strings representing identifiers. Then I have following setup:

[code]

There are many methods that operate on identifiers. As in a real world scenario, supplying an ID that does not exist leads to some (hopefully) predictable error. I dislike my setup because:
- it is verbose, for every method th

[2019-07-06 16:22] stakx commented on #856
IIRC, the upcoming Moq v5 might allow you to configure the default mock behavior more flexibly than is possible in v4.

In v4, at least for non-`void` methods, you can set up (on a loose mock) a custom `DefaultValueProvider` that throws instead of producing a value.

I don't think it would be a good idea to make strict mocks' fallback (throwing) behavior configurable, because that would make the m

[2019-07-07 07:33] stakx commented on #856
I don't think it would be a good idea to make strict mocks' by-default throwing behavior configurable, because that would make the meaning of "strict mock" less clear. Having a strict mock means that you need to provide the behavior (i.e. as setups) for each and every expected call. As soon as you introduce some kind of user-defined default behavior, this rule no longer holds and "strict" becomes

[2019-07-07 10:52] patchmeifyoucan commented on #856
Good answer. My intention was to not have any "logic" in mocks but a null check should be fine. It's a good hint that default behavior independent of values can be set up like that. Indeed, defining the negative case first is a shorter and more readable after one gets used to the idea.

Thanks for the reply.

[2019-07-07 10:52] #856 closed

[2019-07-08 12:09] molszews opened #858 "VerifyNoOtherCalls verifies other mocks after upgrade from 4.10.1 to 4.11.0"
having following piece of code
[code]
it will break after doing Moq update with following exception:
[code]
i.e. in a line `repositoryMock.VerifyNoOtherCalls();` which means it will now for some reason verifies all mocks at once. I assume it is due to the relation between these two, i.e.
`repositoryMock.Setup(x => x.UnitOfWork).Returns(unitOfWorkMock.Object);`

is that the intended behaviour?

[2019-07-08 14:10] stakx commented on #858
This code isn't sufficiently complete to say for sure. I am suspecting that you additionally have a setup similar to this:

[code]

If so, then yes, `VerifyNoOtherCalls` is intended to include sub-mocks in its verification.

In Moq, verification via `mock.Verify[All|NoOtherCalls]` is generally a recursive operation; that is, all mocks reachable from the verification root mock (at least as far as M

[2019-07-09 11:00] ShaunMitchem opened #859 "Verify NullReferenceException if method is called with null parameter"
Hi there - in the attached example, the test Method2_ShouldCall_Load_On_Class1() throws a NullReferenceException because Method2() calls _class1.Load(null);

Should Verify not check that a match isn't null before it tests the property?

Thanks

Shaun

//======================================

using Moq;
using Xunit;

namespace MockIssue
{
    public interface IClass1
    {
        void Load(Class2

[2019-07-09 13:58] stakx commented on #859
Maybe, maybe not. Either way, it is probably much too late to change the behavior of the `It.Is<T>(predicate)` matcher; that would probably break tons of existing user code out there.

So I suggest that you change
`It.Is<Class2>(arg => arg.Property1 == 12)` to `...arg?.Property1...`.

[2019-07-09 14:00] #859 closed

[2019-07-09 17:50] ShaunMitchem commented on #859
Ok - thanks

On 9 Jul 2019, at 14:59, stakx <notifications@github.com<mailto:notifications@github.com>> wrote:

Should Verify not check that a match isn't null before it tests the property?

Maybe, maybe not. Either way, it is probably much too late to change the behavior of the It.Is<T>(predicate) matcher; that would probably break tons of existing user code out there.

So I suggest that you chan

[2019-07-09 18:17] ShaunMitchem commented on #859
Just FYI, your suggestion doesn’t compile – “An expression tree lamda may not contain a null propagating operator”

Obviously It.Is<Class2>(arg => arg != null && arg.Property1 == 12) works fine, you just lose some of the sense of what it was you were trying to verify in the test

To be honest, I think the better solution is probably “don’t go passing nulls around”!

From: stakx <notifications@gith

[2019-07-09 18:55] stakx commented on #859
Arrgh, apologies, you're absolutely right, of course. The limitations of LINQ expression trees these days are just ridiculous!

You could define a custom matcher (using `Match.Create`) that would do what you want, but it's perhaps just as easy to be a little more verbose.

[2019-07-11 18:28] mayerj opened #860 "Intermittent AccessViolationException in Mock<>.Object"
[stack.txt](https://github.com/moq/moq4/files/3383408/stack.txt)
We are seeing an intermittent (but locally reproducible) issue in our CI environment (TFS/vstest).  It seems to happen roughly 10% of the time I run our CI tests.

It is an AccessViolationException inside the stack below.  This callstack is visible from the diagnostic logs in vstest, but Moq seems to catch it and actually just return

[2019-07-11 20:14] stakx commented on #860
Thanks for reporting. Hard to tell what's going on without repro code and information about the runtime / target framework (Mono?), could you provide some more detail?

[2019-07-11 20:25] mayerj commented on #860
I am working on a repro.  It is only occurring 5-10% of the time.

I've attached a 2nd callstack as well.  This is on .NET Framework 4.7.2.

[stack2.txt](https://github.com/moq/moq4/files/3383808/stack2.txt)

[2019-07-11 20:53] mayerj commented on #860
The original AV seems to be in the CodeCoverage engine.

(3f64.48a8): Access violation - code c0000005 (first/second chance not available)
Microsoft_IntelliTrace_Profiler!ModuleInfo::GetOrCreateMethodInfo+0x113:
00007ffa`db873403 8907            mov     dword ptr [rdi],eax ds:00000000`00000102=????????
0:023> k
 # Child-SP          RetAddr           Call Site
00 0000001a`34c77bf0 00007ffa`db8c9402

[2019-07-12 05:30] siprbaum commented on #860
There was just recently also an AccessViolationException in nunit (https://github.com/nunit/nunit/issues/3295#issuecomment-506978432) which they traced down to some bug in the coreclr. Maybe worth a look?

[2019-07-13 12:33] thomasfdm commented on #852
Happy to give it a go, but no definite ETA on it 😄

[2019-07-13 15:02] thomasfdm commented on #852
I'll try and get it done today

[2019-07-13 15:17] stakx commented on #852
@thomasfdm - One thing to keep in mind (IIRC): It might be wrong to assume that the method parameter list has to match exactly with the provided arguments. (For example, on some `.Protected()....` method overloads, you might request `exactParameterMatch: false`.) So it might be more correct to generate an error message saying, _"No protected method X was found whose parameters are compatible with

[2019-07-13 17:13] thomasfdm commented on #852
Good catch, I've changed my error message accordingly:
`No Protected Method Class.Method found whose parameters are compatible with provided types (T1, T2, ... Tx)`

 I've not got the method to generate it, just need to replace the calls from `ThrowIfMissingMember` to this new method. I'll leave the previous message in place for properties as it is at the moment.

[2019-07-14 03:53] mmccord-mdbuyline opened #861 "Invocation count incorrect when argument is a class-type and multiple calls are made with the same object reference"
Assume the following:
[code]
Where `tagOptions` and `updateOptions` are of the same class-type with value-type semantics (overriden `Equals`, `==`, `!=`...implements `IEquatable`). As is suggested by the above, code, the call to `task.Execute()` is expected to call `Execute` twice on the `runnerMock`. The first call should call the `runnerMock`'s `Execute` with an argument equivalent to `tagOption

[2019-07-14 07:32] stakx commented on #861
Yes, this is precisely it. Moq doesn't take deep-cloned snapshots of all arguments at the time of the invocation; instead, it simply stores the arguments as they were passed to the invoked method, i.e. it copies their values of value-typed arguments, and it copies the reference to reference-typed arguments.

Here's a few alternatives you can try:

* If your options type has value type semantics, c

[2019-07-14 07:32] #861 closed

[2019-07-14 07:35] stakx commented on #858
@molszews, has your question been sufficiently answered?

[2019-07-14 07:37] molszews commented on #858
makes perfect sense, thanks!

[2019-07-14 07:37] #858 closed

[2019-07-14 08:36] stakx commented on #850
Having thought about this some more, it is perhaps a good thing that `SetupProperty` and `SetupAllProperties` behave differently: you'd only intentionally setup a property if you actually expected it to be set and queried. Otherwise, you'd be more specific and setup just the getter or the setter, or have no setup at all.

Closing this as "by design" until someone actually runs into problems becaus

[2019-07-14 08:36] #850 closed

[2019-07-14 15:42] mmccord-mdbuyline commented on #861
Fair enough, but would it not be possible to count invocations at execution time, and then read those out during verify? Seems like if you do that then cloning the arguments is a non-issue? Is that something that might be open for discussion?

[2019-07-14 16:25] stakx commented on #861
No, that wouldn't be easily possible, because the invocation count would be kept in the various setups; however, a call to `mock.Verify(callExpression)` need not map to any setup(s) at all&mdash;it goes directly against the list of recorded invocations.

[code]

Where are you going to get the count from for this and other, possibly even more involved examples?

[2019-07-14 16:33] stakx commented on #861
P.S.: I guess what we *could* do is something like a new form of verification:

[code]

I'm not a big fan of saving setups in variables; I'm not sure whether that goes well together with the fluent API.

(That being said, it probably would solve this long-standing issie that people keep asking about.)

[2019-07-14 18:34] #852 closed

[2019-07-14 19:49] mmccord-mdbuyline commented on #861
Humm, well I had something else in mind but it's entirely probable I just don't understand the inner-workings of Moq enough to make a clear case. If I get a chance I'll mess around with Moq's inner workings some more and get back to you with some more concrete ideas. Thanks for the quick responses!

[2019-07-24 17:24] debiebrett opened #864 "Linux compilation fails using Mono on Moq 4.8+"
Hi there, I'm not sure if this would be a Moq or a Mono issue, but thought I'd post here just in case. Compilation is failing on Linux while trying to reference Moq.dll with Mono. The issue first arises in 4.8.0-rc1 and is still present in 4.12.0.

Linux Version: Red Hat 6.5 (Santiago)
Mono Versions Tested: 5.14 and 6.0.0
Assembly Versions:
- Castle.Core.dll 4.4.0
- System.Runtime.CompilerServices

[2019-07-24 17:59] stakx commented on #864
What does your `.csproj` look like?

[2019-07-24 18:10] debiebrett commented on #864
Our project is targeting .NET 4.6.1.

[2019-07-24 20:53] stakx commented on #864
I am fairly confident that this will turn out to be either a Mono tooling issue or, even more likely, a problem with your project configuration/setup.

I'll still take a look at it, but in order to do so, please post or link to a minimal code repo that I can build using Mono to repro the error. Or, provide precise and complete repro instructions. (Above, you first suggested that you call the compi

[2019-07-24 20:58] stakx commented on #860
@mayerj, any progress with the repro? Otherwise, I'll close this issue in a few days' time. (You can always post a repro after that and I'll reopen the issue, but in case this is no longer of any importance or concern to you, there's no point in keeping this open & letting it go stale.)

[2019-07-24 21:03] stakx commented on #833
I'm closing this issue, seeing that there is an existing & mostly viable alternative (`Mock.Of<T>(predicate)`) to what was requested here. If such a fundamental change should be made to the setup API, I'd prefer to let Moq v5 take the lead here.

That being said, I'll think about some easy and inconspicuous extension points in the fluent API that would allow client code to add their own extension

[2019-07-24 21:03] #833 closed

[2019-07-24 21:09] stakx commented on #825
@lepijohnny is currently working on this in #857.

[2019-07-24 21:23] debiebrett commented on #864
Thanks for the response. Here's a link to a minimal code repo:
https://github.com/debiebrett/Moq-Compile-Error

I can reproduce the error with the command "mcs test.cs -r:Moq.dll"

Let me know if this is enough for you to reproduce.

[2019-07-24 21:38] stakx commented on #825
Resolved in #857. You'll be able to use `Setup[Add|Remove]` and `Verify[Add|Remove|All]` for event subscription and unsubscription from version 4.13.0 onwards.

Thanks @lepijohnny for having taken care of this long-standing feature request. (There have been a few issues in the past asking for this same feature.)

[2019-07-24 21:38] #825 closed

[2019-07-24 22:13] stakx commented on #864
OK, I could reproduce this using the `mono:5.14` Docker image. This is definitely not a problem with the provided Moq.dll per se (which appears to be the .NET Framework DLL for Moq 4.8.0). This instead appears to be a problem with the way you invoke the C# compiler.

I tried two things, both of which made that compilation error you reported go away:

1. I added the following `Repro.csproj` file an

[2019-07-24 22:13] #864 closed

[2019-07-25 09:17] yb199478 opened #865 "It.IsAny does not get the expected result when combined with a null-coalescing operator."
**Moq4 version(s) affected**: 4.12.0

#### Description

It.IsAny does not get the expected result when combined with a null-coalescing operator.

[code]

#### How to reproduce

[code]

[code]

[code]

#### Possible Solution

The following solutions can solve the problem(maybe there will be a better solution?)

[code]

[2019-07-25 09:48] stakx commented on #865
I haven't checked your code in detail, but one thing that immediately stands out is the fact that you are using the `It.IsAny<T>()` argument matcher *outside of* a `.Setup` expression, which won't work:

Rewrite this e.g. as follows:

[code]

[2019-07-25 09:48] #865 closed

[2019-07-25 09:58] yb199478 commented on #865
thanks @stakx

[2019-07-25 16:57] debiebrett commented on #864
Great, thanks for the help. We'll be looking into switching our project over to use the Roslyn C# compiler.

[2019-07-25 21:51] mayerj commented on #860
Not a lot of luck getting a reliable repro.  I've opened a support ticket with Microsoft support to look at the code coverage angle.

[2019-07-27 16:19] james1301 opened #866 "Updating .net version dependency from 4.5"
When are you updating .net version dependency from 4.5? This version is no longer supported my Microsoft, we have recently updated to the latest .net as there is no real loss of OS support.

This may reduce the need for dependency on other nuget packages like Tasks.Extensions.

[2019-07-27 16:42] stakx commented on #866
Most likely at the same time when we add a target for .NET Standard 2.1 (which isn't available just yet); i.e. sometime later this year.

I'm aware of that, but how exactly is this a problem in this case? Your own project (the one referencing Moq) can simply target a higher .NET Framework version, then NuGet will resolve packages relative to that.

I don't see how: Moq only has two dependencies: C

[2019-07-30 13:01] james1301 commented on #866
Fair enough. I was just thinking that Tasks.Extensions was included in a later .net like valuetuples are so then it wouldn't require the additional nugets. But I don't think that does work the same does it?

[2019-07-30 15:20] stakx commented on #866
No, `ValueTask<>` is not included in the BCL of later .NET Framework versions. Suppose it were included in .NET 4.7.2's BCL, your project is targeting .NET 4.7.2 and referencing Moq. You'd get type ambiguities because `ValueTask<>` would now be defined several times (once by the BCL, once by the NuGet package brought in by Moq). In order to prevent this, Microsoft would typically add an empty `net

[2019-07-30 15:20] #866 closed

[2019-08-03 05:54] chrisaut opened #867 "Regression for event subscription between 4.10 and 4.11"
The following seems to be a regression between 4.10 and 4.11 (4.12 behaves like 4.11):

[code]
Additional information, if the event subscription happens outside the mocked object, it still behaves as expected:
[code]
or if it happens in any of the object's methods:
[code]

The subscription to the event "E" seems to no longer take effect if the event is being subscripted to in the mocked object's c

[2019-08-03 09:42] stakx commented on #867
@chrisaut: Thank you for reporting this. I'll add (a slightly modified version of) your tests to the regresstion test suite.

It's somewhat an edge case, but yes, I believe this is to be expected. You are raising the event before the mocked object is created:

Note how, in your code, `c.Object` is called after `c.Raise(…)`. That is, the mocked object hasn't yet been created, therefore the construc

[2019-08-03 14:40] chrisaut commented on #867
@stakx thnx for the explanation, that makes perfect sense, and is easy to fixup in the couple of tests I ran into it while upgrading.

I'm closing this issue, thnx for the help

[2019-08-03 14:40] #867 closed

[2019-08-03 15:11] stakx commented on #867
Yes, what you're saying seems sensible. What I'm still trying to wrap my head around is the fact that most Moq API calls work perfectly fine without an actual mocked object&mdash;say, the `.Setup*()` and `.Verify*()` method groups&mdash;but `.Raise()` just may to be an exception despite the fact that it also sits on `Mock<T>`, and not on the mocked `T`.

I'll leave my PR open and reflect on this s

[2019-08-05 14:57] kaan-kaya opened #869 "Null reference exception for EventHandler property with name starting with "Item""
I have experienced an issue when trying to mock an interface with a EventHandler property whose name starts with "Item".

Sample interface:

[code]

[2019-08-05 15:57] stakx commented on #869
@kaan-kaya, could you please provide a minimal but complete code example that we can run to reproduce that exception? Otherwise I'll close this issue in a few days'time.

[2019-08-05 15:59] stakx commented on #860
@mayerj, I will close this issue to prevent it from going stale. Once you do have a repro (it doesn't have to be 100% reliable, I'm OK with running it a few times or a few copies of it in parallell), please post it here and we'll reopen!

[2019-08-05 15:59] #860 closed

[2019-08-06 05:06] mattzink opened #870 "SetupAllProperties() and Mock.Of<T> regression in Moq 4.12.0"
The following tests pass with Moq 4.11.0 and fail with 4.12.0:

[code]
[code]

This seems to be very likely caused by https://github.com/moq/moq4/pull/826
Perhaps this new code doesn't handle abstract types correctly?

Environment: Windows x64, .NET Core 2.2.1

[2019-08-06 05:22] mattzink commented on #870
This pattern also fails:
[code]

[2019-08-06 05:31] stakx commented on #870
Thanks for reporting, @mattzink. I've found the regression. The problem lies here:

https://github.com/moq/moq4/blob/731567c12159d855658726479eda8d25626ae8b9/src/Moq/Extensions.cs#L51-L59

`.StartsWith` should be `.Equals`. I'm about to push a bug fix to `master`.

[2019-08-06 05:41] mattzink commented on #870
Ahh, so it's because the property name is "Items" that it thinks it's an indexer. Interesting!

[2019-08-06 05:45] stakx commented on #869
This is very likely a duplicate of #870, so I am also closing this. If you think that was in error, please let me know and we'll reopen.

[2019-08-06 05:45] #869 closed

[2019-08-06 05:47] stakx commented on #870
Yes, `SetupAllProperties` does not set up indexers (and never has, AFAIK). Under the hood, indexers look like parameterized properties called `Item`. (Though the name can be customized, which Moq currently doesn't account for.)

Fixed in master. Watch out for an updated version of Moq later this month!

[2019-08-07 09:49] debslord opened #872 "Callback with specific object type fails when not after a Return"
Moq version 4.12.0

Callback for a method with multiple parameters when one is a specific object type throws the following error unless the Callback follows a Returns.

**_Message: Initialization method Project.Services.Tests.__Initialize threw exception. System.ArgumentException: Invalid callback. Setup on method with parameters (String,Object) cannot invoke callback with parameters (String,Specf

[2019-08-07 11:30] stakx commented on #872
Your callback's parameter types should match the parameter types of the method you're setting up, so some of the errors you're seeing are due to that (i.e. a mistake on your part).

However, this case looks strange:

I suspect that the above shouldn't work, either.

I'll take a closer look sometime during the next few days.

[2019-08-07 13:02] basprins opened #873 "Project with Moq and explicit dependency on higher System.Threading.Tasks.Extension throw exception!!"
Hi,

We have a (severe) issue with Moq and I hope you can help us out. A little background:
We use our own private nuget repository so that we have control over which packages are used throughout the project.
We have nuget packages that depend on System.Threading.Tasks.Extensions 4.5.3.
We don't want to mix versions in our output folder, so everywhere where we have dependencies on System.Threading

[2019-08-07 14:31] basprins commented on #873
I cloned the moq4 repo and updated the extensions dependency to 4.5.3 myself, created a new nuget and tested it. That works fine. Not sure if that helps in understanding what the issue is, but for me it's a perfect quick hack for now :)

[2019-08-07 15:35] stakx commented on #873
It is an issue, but with your project setup, not Moq. Between the two versions of the System.Threading.Tasks.Extensions NuGet package, Microsoft changed the assembly version from 4.2.0.0 to 4.2.0.1 (which they probably shouldn't have done if they considered the sanity of people who are still on the .NET Framework). Moq is referencing version 4.2.0.0, while your project is forcing 4.2.0.1.

Quite f

[2019-08-07 15:35] #873 closed

[2019-08-07 17:08] dammejed opened #874 "MockDefaultValueProvider will try to set 'Callbase' on auto-generated mocks for delegates."
Recently, it's become a blocking error to set `CallBase` to true on Mocks of delegates.
This causes a regression is existing code that had set `CallBase` to true, and the `MockDefaultValueProvider` was being used to provide values for items that weren't setup.

Here's an illustration of the issue:
[code]

I can submit a PR to fix the bug-- it seems fairly straightforward.

[2019-08-07 17:46] stakx commented on #874
Hi @dammejed, thanks for reporting this problem, and for your PR. Yes, this looks like something that should be fixed!

[2019-08-07 17:48] #874 closed

[2019-08-07 18:02] stakx commented on #872
I am sure that's not what you intended with this issue, but the solution here is to make post-`Returns` callback delegate validation more strict so we no longer have an inconsistency.

Like I wrote above, if you have a method with parameter list, say, `(string, object)`, you cannot specify a callback delegate with parameter list `(string, string)` because you'd be coercing the second argument to a

[2019-08-07 18:15] #872 closed

[2019-08-07 18:21] dammejed commented on #874
Cheers, thanks for your reactivity! 👍

[2019-08-07 18:40] basprins commented on #873
Hi stakx! Thanks a bunch for the quick response and for explaining the actual root cause!

Rather stupid indeed that microsoft changes assembly versions for, if I understand you correctly, no reason at all...

But, I will try this tomorrow morning. Thanks again! Great help!

PS: I use the resharper test runner, so that's why you needed to add the nunit test runner.

[2019-08-07 19:36] stakx commented on #873
You're welcome. Hope I could help.

Well, it depends. Before NuGet, there was actually a point to versioning assemblies via `[AssemblyVersion]`. (You could put several versions of such assemblies in the GAC.) But since NuGet, the .NET Framework's assembly version binding policy mostly just interferes with NuGet's only semver version selection, so some people have figured out that NuGet should be i

[2019-08-08 05:28] chrisaut opened #877 "Behavioural change between 4.11 -> 4.12 with CallBase=True and params args"
Consider the following code:
[code]
In 4.11.0 this test passes, that is it does NOT call into C1's implementation of "M"

However in 4.12.0 this test fails, result = "fromBase", it is as if the setup doesn't match. Uncommenting the .Returns line fixes it in 4.12.0. I think it has to do with the params object array

This took me a while to figure out, and I'm not entirely sure what the expected beh

[2019-08-08 05:53] stakx commented on #877
This is noted in the changelog for 4.12:

The change was made for improved consistency, and it's in line with a hint dropped by @kzu (can't find the reference right now) that setups on non-void methods without any `Returns`, `Throws` or `CallBase` are basically a user mistake and will be called out as such in Moq v5.

[2019-08-08 05:53] #877 closed

[2019-08-08 05:57] chrisaut commented on #877
Oh I see, sorry I didn't see a changelog under releases, but see it is a .md file.

[2019-08-08 07:00] salixzs commented on #461
Starting 4.8 Moq just doesn't work on any of build servers with this
[code]
I understand that reasons are somewhere there - NuGets, Versions, BindingRedirects, Microsoft way of versioning etc. etc. ... but the fact is - this happens each time I touch Moq.
Currently adding Moq (4.12) to project (we still need full 4.7.2 Framework here) it also adds Castle.Core, System.Runtime.CompilerServices.Unsaf

[2019-08-08 07:05] stakx commented on #877
Yes, perhaps I should start annotating releases with the relevant changelog entries. Thanks for the hint!

[2019-08-08 07:09] stakx commented on #461
@salixzs: You appear to be using an older version of Moq. Why not try with the latest one? We've since shed quite a few package dependencies, and both Moq and Castle.Core have migrated to a different assembly versioning approach which should greatly help in avoiding assembly binding errors.

Yes, I'm tired of this, too. I've found however that using the latest tooling and using SDK-style project f

[2019-08-08 09:10] debslord commented on #872
I will update my code my side for more consistency.  However for your reference please find the following zipped example of the two setups one passes the tests and one does not.  If you required an example of the issue.

[MoqDemo.zip](https://github.com/moq/moq4/files/3480791/MoqDemo.zip)

[2019-08-08 10:19] kaan-kaya commented on #870
So even with this fix, this issue remains for properties called Item, then?

[2019-08-08 10:45] stakx commented on #870
@kaan-kaya, good point. I suppose it's time to finally fix the indexer recognition logic.

[2019-08-08 11:10] #870 closed

[2019-08-08 11:16] stakx commented on #872
Thanks.

I've already added [these tests](https://github.com/moq/moq4/blob/86bab004196644e12e23aed0d6a717b108dea36c/tests/Moq.Tests/AfterReturnCallbackDelegateValidationFixture.cs) to Moq's test suite which cover the same use cases.

But I've quickly run your unit tests against Moq's `master`, and they now all fail... as they should.

[2019-08-08 12:03] #733 closed

[2019-08-09 13:19] Cufeadir opened #883 "Verify throws TargetInvocationException instead of MockException when SetupSequence includes returning a Task.FromException and the mocked method is not called enough times."
I am using
* Moq v4.12.0
* xunit v2.4.1
* .NET Core SDK v2.2.401
* Visual Studio 16.2.1

I am mocking an interface with an asynchronous method on it. The code I am testing calls that interface multiple times and handles the case where the task from the mocked method fails with a custom exception. When mocking the interface, I use `SetupSequence` to prepare a sequence of different return values fro

[2019-08-09 13:52] stakx commented on #883
@Cufeadir, thank you for the detailed description & repro.

This is indeed a bug, more specifically in these lines of code:

https://github.com/moq/moq4/blob/d8050e4cc9df4d074c68aa091f01bc20c0849211/src/Moq/Unwrap.cs#L26-L30

Moq is looking at each recorded invocation's return value to see whether the invocation returned a mocked object (it does this because verification is a recursive operation).

[2019-08-09 14:00] Cufeadir commented on #883
@stakx,

Thank you for looking into this so quickly and finding the root cause! I'm happy to let you deal with the fix. I don't have experience with Moq's internals, so I'd be a poor judge of the other impacts of the change or if there is a cleaner fix.

[2019-08-09 14:31] frblondin opened #884 "Support expression-based mock creation for constructor calls that takes parameters"
Existing mock creation overloads for constructors that take parameters has some limitations:
* Compiler can't check whether the constructor actually exists. Issues/regressions are detected during runtime rather than leveraging code editor capacity
* Editor features such as _Finding references..._ to a constructor is missing calls to the constructor made by these mocks
* When refactoring code, we e

[2019-08-09 14:41] #883 closed

[2019-08-10 07:32] stakx opened #886 "`SetupAllProperties` does not recognize property as read-write if only setter is overridden"
Probably an edge case, but it demonstrates that Moq's reflection logic regarding type members and overrides in type hierarchies still comes to wrong conclusions sometimes. It is probable that there are other places in Moq suffering from the same problem.

### Steps to reproduce:

[code]

### Expected outcome:

The test passes. It should be possible to set and subsequently query that property, just

[2019-08-10 16:16] stakx commented on #886
Another failing test:

[code]

[2019-08-11 08:38] stakx commented on #124
Just for the record, in recent versions of Moq, this will produce a more helpful exception:

[2019-08-11 08:55] stakx commented on #884
Hi @frblondin, that idea would be in line with one of Moq's declared goals (promoting correct code through static typing), so I don't have any objection to adding the new overloads that you're suggesting. Feel free to submit a PR.

* The overload should go in `Mock<T>`, not in `Mock` (as I'm sure you realise).

* There has to be a possibility to optionally specify a `MockBehavior`; either via an o

[2019-08-11 08:58] stakx commented on #884
(@frblondin, I have assigned this issue to you and a future version milestone, just to help me track this issue more easily. But don't let that put any pressure on you.)

[2019-08-11 16:14] bclothier opened #887 "Provide non-generic API to support runtime type mocking"
Normally, Moq uses generic APIs which is a great thing for ensure strong-typed, refactor-friendly mocking API. However, when the scenario is that we need to mock a runtime type, we can descend into a hell of `Expression`s trying to use the generic API.

The proposal is to open the non-generic methods as an API on an interface that is not easily accessible. In @stakx 's words:

The scenario for wan

[2019-08-11 17:34] stakx commented on #887
I think exposing an "SDK layer" in Moq v4 would be fantastic and worthwhile, but I should probably add a few words to justify the effort required to do, especially when Moq v5 is waiting just around the corner: We should only consider exposing the "plumbing" / SDK layer of Moq v4 if it is reasonably well-architected and well-designed. I've been doing refactoring work for the past two years or so i

[2019-08-11 20:53] frblondin commented on #884
Just submitted a PR: #888!

[2019-08-12 10:35] Sword-Smith commented on #710
I had a controller that was returning an anonymous class and in a xunit test I wanted to check its value. Following this [answer](https://stackoverflow.com/questions/9750078/get-value-from-anonymous-type), I set the return value to dynamic (wrapped in an OkObjectResult in an IActionResult) and encountered the above error in my unit test project:

Manually installing Microsoft.AspNetCore.Razor.Runt

[2019-08-12 13:47] dammejed commented on #887
Just giving a "Me too" to supporting exposing some internals (especially for creating setups) for use in 3rd party libs.
I maintain a DSL that supports mocking via Moq (for much the same reasons that @bclothier mentioned), and currently, there are some things can only be accomplished via reflection calling into internal members of Moq in order to skirt around the limitations of the exposed API. It

[2019-08-12 14:11] stakx commented on #887
@dammejed: Cheers for the feedback. Can you give a brief summary of the Moq internals you're accessing through reflection? Just to get a better idea what you'd want to become public in some way or another.

[2019-08-12 15:43] dammejed commented on #887
@stakx Sure. The DSL and its useage are proprietary, so I can't share the code, but the general idea is this:

There are some generated expressions which are too complicated for Moq's expression visitor to understand and extract expressions from, so that it can match the called method and generate expression argument matchers. The DSL I maintain is able to extract the method and argument expressio

[2019-08-12 15:50] bclothier commented on #887
Just to provide some data point. Currently, I'm using those methods:

* `As` - This is necessary because 1) the types I'm dealing could have several interfaces and we can't control which interfaces will be actually used, and 2) because we build expressions dynamically, we have to do more work that C# compiler ordinarily does for us and one of those is the casting operation --- we cannot perform op

[2019-08-14 10:07] Rayffer opened #889 "Feature to reset setups and event handlers?"
Currently, in Moq 4.12, there is a method called .Reset() which as it implies, resets all setups, eventhandlers, default return values and recorded invocations.

Can we develop a method to clear setups and / or event handlers like the .Invocations.Clear() does? I can develop it myself if needed

[2019-08-14 12:28] Rayffer commented on #889
I close this issue as I've created a pull request, sorry for the inconvenience

[2019-08-14 12:28] #889 closed

[2019-08-16 12:04] Zaeranos opened #892 "VerifyNoOtherCalls fails due to calls on another Mock instance"
Recently for the company I work at, we upgraded the version of Moq from 4.8.3 to 4.12.0, due to reasons of other upgrades. However by doing this a number of our unit tests started to fail all of a sudden. After some investigation we found out that the unit tests fail due to VerifiyNoOtherCalls(). And it does not fail because there were other calls made to the checked mock, but calls made to anothe

[2019-08-16 13:43] stakx commented on #892
(Duplicate of #858.)

Thanks for taking the time to report this.

That change was made intentionally, however I think we forgot to mention it in the changelog.

I understand, and that makes perfect sense. However, note that restoring this behavior would re-introduce an inconsistency in the verification APIs. Here's the line of thinking that led to the "bug" / behavior that you're seeing now:

* `V